.section-listVip {
  background: #eceefa;
  .module-listVip {
    padding-top: 30px;
    padding-bottom: 49px;
    .module-header {
      overflow: hidden;
      padding-top: 11px;
      .title {
        text-transform: uppercase;
        color: #526f81;
        position: relative;
        display: table;
        padding-right: 28px;
        margin-bottom: 40px;
        padding-left: 30px;
        font-weight: bold;
        font-size: 38px;
        line-height: 38px;
        &:after {
          content: "";
          display: block;
          height: 38px;
          width: 8px;
          background: linear-gradient(to top, #2bb0d7, #3dd3ae);
          position: absolute;
          top: 0;
          left: 2px;
          border-radius: 5px;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          width: 900px;
          background: linear-gradient(to right, #2bb0d7, #3dd3ae);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 100%;
        }
      }
    }
    .module-content {
      padding-top: 60px;
      position: relative;
      max-width: 1014px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 83px;
      z-index: 1;
      &:after {
        content: url(../../../../static//images/vip_after.gif);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      .slick-slider {
        position: unset;
        margin-left: -15px;
        margin-right: -15px;
        .slick-slide {
          padding-left: 15px;
          padding-right: 15px;
        }
        .slick-list {
          padding: 30px 0;
          margin: -30px 0;
        }
      }
      .news__control {
        position: absolute;
        bottom: 0;
        width: 35px;
        height: 35px;
        padding: 0;
        text-align: center;
        border-radius: 50%;
        line-height: 20px;
        font-size: 16px;
        color: #fff;
        box-shadow: 0 6px 10px rgba(199, 227, 235, 0.7);
        background: linear-gradient(#0eb2e8, #31f0a2);
        transform: scale(1);
        transition: all 0.3s;
        left: 50%;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 13px 30px #12a1ce63;
        }
        &.next__btn {
          transform: translateX(-23px);
        }
        &.prev__btn {
          transform: translateX(23px);
        }
      }
      .vip-item {
        max-width: 231px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transition: all 0.3s;
        top: 0;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background: linear-gradient(#0eb2e8, #31f0a2);
          bottom: 0;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
        }
        &:before {
          width: 100%;
          height: 147px;
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: url(../../../../static/images/vip_item_after.gif);
          background-size: cover;
          background-position: top center;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s;
        }
        .img {
          img {
            width: 100%;
            height: 319px;
            background: #fff;
            padding: 1px;
            border-radius: 3px;
          }
        }
        &:hover {
          top: -18px;
          &:before {
            opacity: 1;
          }
          &:after {
            width: 0%;
          }
          .img {
            &:after {
              content: "";
              width: 100%;
              height: 18px;
              position: absolute;
              top: 100%;
              display: block;
            }
          }
          .text {
            transform: translateY(0);
            height: 106px;
            .job {
              transform: translateY(0px);
              opacity: 1;
              transition: all 0.3s;
              transition-delay: 0.3s;
            }
            .name {
              transform: translateY(0px);
              opacity: 1;
              transition: all 0.3s;
              transition-delay: 0.2s;
            }
          }
        }
        .text {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          padding-bottom: 10px;
          z-index: 1;
          height: 37px;
          overflow: hidden;
          transform: translateY(50%);
          transition: all 0.3s;
          .link {
            display: table;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            margin-bottom: 15px;
            padding: 5px 31px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 30px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            color: #516b8d;
            transition: all 0.3s;
            &:hover {
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
            }
          }
          .name {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 0;
            color: #52608e;
            transform: translateY(5px);
            opacity: 0;
            transition: all 0.3s;
            transition-delay: 0s;
          }
          .job {
            color: #fff;
            color: #52608e;
            transform: translateY(5px);
            opacity: 0;
          }
        }
      }
    }
  }
}
.section-list {
  padding-top: 35px;
  .module-list {
    .module-header {
      position: relative;
      display: table;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      padding-top: 9px;
      z-index: 1;
      .title {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: bold;
        background: linear-gradient(to top, #0eb2e8, #31f0a2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
      }
      .title__shadow {
        text-align: center;
        line-height: 50px;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 100%;
        transform: translateY(-18px) rotateX(180deg);
        margin: 0;
        z-index: -1;
        span{
          display: block;
          background: linear-gradient(to top, #bee0ec, #f9fdfd);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .module-content {
      margin: 0 -83px;
      padding-bottom: 41px;
      .form-search {
        position: relative;
        z-index: 10;
        padding-top: 11px;
        padding-bottom: 89px;
        .head {
          padding-bottom: 6px;
          .title {
            padding-left: 29px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            position: relative;
            color: #4f576e;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 20px;
              height: 10px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background: linear-gradient(to left, #0eb2e8, #31f0a2);
            }
          }
        }
        .content {
          .item {
            margin-bottom: 15px;
            height: 53px;
            label {
              color: #51586e;
              font-size: 13px;
              height: 18px;
              display: block;
              font-weight: normal;
              margin-bottom: 0;
            }
            .search__input {
              border: 1px solid #b3d2e5;
              border-radius: 3px;
              color: #566489;
              padding-right: 10px;
            }
            .react-datetime-picker {
              width: 100%;

              .react-datetime-picker__wrapper {
                width: 100%;
                border: 1px solid #b3d2e5;
                border-radius: 3px;
                color: #566489;
                height: 35px;
              }
              .react-calendar {
                button {
                  padding: 10px 5px;
                }
              }
              button {
                box-shadow: unset;
                border-radius: 0;
                border: 1px solid transparent;
                &:hover {
                  border: 1px solid #1087ff;
                  background: #fff;
                  color: #1087ff;
                }
              }
              .react-datetime-picker__inputGroup{
                padding: 0 7px;
              }
              .react-datetime-picker__calendar,
              .react-datetime-picker__clock {
                top: 100% !important;
                bottom: unset !important;
              }
              .react-datetime-picker__button {
                padding: 8px 5px;
                position: relative;
                &:focus{
                  svg{
               
                    stroke: #fff;
                  }
                
                }
                &:hover{
                  svg{
                    stroke: #566489;
                  }
                }
                &.react-datetime-picker--open{
                  svg{
                    stroke: #fff;
                  }
                }
                svg {
                  stroke: #566489;
                  width: 16px;

                }
                &:after {
                  content: "";
                  display: block;
                  margin-bottom: 8px;
                  margin-top: 8px;
                  height: 19px;
                  left: 0;
                  top: 0;
                  width: 1px;
                  background: #566489;
                  position: absolute;
                }
                &.react-datetime-picker__clear-button {
                  display: none;
                }
              }
            }
            .css-2b097c-container {
              height: 35px;
              .css-1pahdxg-control{
                height: 35px;
                min-height: 35px;
                border: 1px solid #b3d2e5;
                border-radius: 3px;
                }
              .css-yk16xz-control {
                min-height: 35px;
                border: 1px solid #b3d2e5;
                border-radius: 3px;
              }

                input {
                  height: auto;
                }
                .css-1uccc91-singleValue {
                  color: #566489;
                }
                svg {
                  color: #566489;
                  width: 15px;
                }
                .css-1okebmr-indicatorSeparator {
                  background: #566489;
                }
              .css-tlfecz-indicatorContainer {
                padding: 6px 4px;
              }
              .css-1gtu0rj-indicatorContainer{
                padding: 6px 4px !important;
              }
            }
            .search__btn {
              background: linear-gradient(to top, #0eb2e8, #31f0a2);
              margin-top: 17px;
              height: 35px;
              padding: 8px 30px;
              position: relative;
              min-width: 136px;
              font-weight: bold;
              color: #fff;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
              border-radius: 30px;
              &:hover {
                background: linear-gradient(to top, #31f0a2, #0eb2e8);
              }
            }
          }
        }
        .show__search{
          display: table;
          font-size: 15px;
          text-decoration: underline;
          color: #6988a8;
          cursor: pointer;
        }
      }
      .booking-list {
        position: relative;
        z-index: 1;
        .list-item {
          position: relative;
          padding-left: 54px;
          margin-bottom: 55px;
          max-width: 415px;
          margin-left: auto;
          margin-right: auto;
          .img {
            width: 160px;
            height: 209px;
            position: absolute;
            top: -16px;
            left: 0;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            z-index: 10;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border: 2px solid #fff;
              background: #fff;
              border-radius: 3px;
            }
          }
          .text {
            background: #fff;
            padding: 19px;
            padding-left: 127px;
            min-height: 211px;
            position: relative;
            z-index: 1;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            &.job-text {
              .name {
                text-transform: unset;
                font-size: 14px;
                margin-bottom: 6px;
              }
              .job {
                span {
                  width: 100%;
                }
              }
            }
            &:after {
              content: "";
              display: block;
              width: calc(~"100% - 2px");
              background: #fff;
              height: calc(~"100% - 2px");
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
              border-radius: 3px;
            }
            &:before {
              content: "";
              display: block;
              width: 100%;
              background: linear-gradient(
                to top right,
                #0aaae0 0%,
                #fff,
                #2af19e
              );
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
              border-radius: 3px;
            }
            .name {
              font-weight: bold;
              font-size: 14px;
              text-transform: uppercase;
              margin-bottom: 13px;
              color: #5a6288;
              i {
                color: #b7c6db;
                &.active {
                  color: #0db2f0;
                }
              }
            }
            .info {
              font-size: 12px;
              color: #8d90a1;
              margin-bottom: 3px;
              i {
                font-size: 11px;
                color: #ffc400;
                &:first-child {
                  margin-left: 5px;
                }
              }
              span {
                position: relative;
                b {
                  font-size: 12px;
                }
                &:first-child {
                  padding-right: 5px;
                  &:after {
                    display: none;
                  }
                }
                &.view,
                &.rate,
                &.worked {
                  padding: 0 4px;
                  font-size: 10px;
                }
                &:after {
                  content: "";
                  display: block;
                  width: 1px;
                  height: 10px;
                  background: #96bfda;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
            .job {
              overflow: hidden;
              margin-left: -1px;
              margin-right: -1px;
              span {
                display: block;
                width: 50%;
                float: left;
                border: 1px solid #fff;
                background: #6a88a9;
                color: #fff;
                text-align: center;
                font-size: 11px;
                padding: 3px;
              }
            }
            .time {
              font-size: 12px;
              font-style: italic;
              color: #8d9bbc;
              margin-top: -5px;
              margin-bottom: 6px;
              i {
                font-size: 12px;
                top: 3px;
                position: relative;
                padding-right: 5px;
              }
            }
            .address {
              font-size: 12px;
              font-style: italic;
              color: #8d9bbc;
              i {
                font-size: 14px;
                top: 3px;
                position: relative;
                padding-right: 5px;
              }
            }
            .pay {
              font-size: 12px;
              color: #d11212;
              i {
                font-size: 14px;
                top: 3px;
                position: relative;
                padding-right: 8px;
                color: #8d9bbc;
              }
            }
            .link {
              position: absolute;
              color: #6c87ab;
              border: 1px solid #abcbe2;
              bottom: -14px;
              right: 29px;
              padding: 3px 29px;
              padding-right: 57px;
              border-radius: 20px;
              background: #fff;
              box-shadow: 0 0 20px rgba(14, 164, 206, 0.25);
              &:hover {
                background: #abcbe2;
                color: #fff;
              }
              span {
                position: absolute;
                display: block;
                width: 22px;
                height: 22px;
                top: 2px;
                right: 2px;
                background: linear-gradient(#0eb2e8, #31f0a2);
                color: #fff;
                border-radius: 50%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .section-list {
    .module-list {
      .module-content {
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .section-list {
    .module-list {
      .module-content {
        .form-search {
          .content {
            .item {
              .search__btn {
                padding: 8px 14px;
                font-size: 13px;
                min-width: unset;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .section-list {
    .module-list {
      .module-content {
        .booking-list {
          .list-item {
            .text {
              padding: 20px 5px;
              padding-left: 114px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .section-manage {
    padding-bottom: 5px;
    margin-top: 83px;
    .module-manage {
      .module-content {
        .manage-item {
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  .section-listVip {
    .module-listVip {
      .module-header {
        .title {
          font-size: 24px;
        }
      }
    }
  }
  .section-list {
    .module-list {
      .module-header {
        .title__shadow,
        .title {
          font-size: 30px;
        }
      }
      .module-content {
        .form-search {
          .head {
            .title {
              font-size: 14px;
            }
          }
          .content{
            .item{
              height: unset;
              label{
                height: unset;
                font-weight: bold;
              }
              .search__btn{
                margin-top: 0;
                width: 100%;
              }
            }
          }
        }
        .booking-list {
          .list-item {
            padding-left: 0;
            .img {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              padding-bottom: 136%;
              box-shadow: unset;
            }
            .text {
              padding: 20px 15px;
            }
          }
        }
      }
    }
  }
}
