@keyframes title__float {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes benefit_round {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes benefit_point {
  0% {
    transform: rotateX(0) rotateY(0) rotate(0) translateZ(10%);
  }
  25% {
    transform: rotateX(46deg) rotateY(-5deg) rotate(0deg) translateZ(10%);
  }
  50% {
    transform: rotateX(5deg) rotateY(21deg) rotate(180deg) translateZ(10%);
  }
  75% {
    transform: rotateX(9deg) rotateY(-1deg) rotate(211deg) translateZ(10%);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotate(360deg) translateZ(10%);
  }
}
@keyframes benefit_layer4 {
  0% {
    transform: translateY(-10%) translateZ(106px);
  }
  50% {
    transform: translateY(10%) translateZ(106px);
  }
  100% {
    transform: translateY(-10%) translateZ(106px);
  }
}
@keyframes benefit_logo {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes benefit_phone {
  0% {
    transform: translateY(1%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(1%);
  }
}
@keyframes benefit_shadow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_item1 {
  0% {
    opacity: 0;
    transform: translate(20%, -20%);
  }
  10% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes chat_item2 {
  0% {
    opacity: 0;
    transform: translate(20%, -20%);
  }
  10% {
    opacity: 0;
    transform: translate(20%, -20%);
  }
  20% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes chat_left_item1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item2 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item5 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item6 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chat_left_item7 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes benefit_bg_round {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@keyframes benefit_bg_round1 {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

.section-banner {
  position: relative;
  z-index: 1;
  .slider-wrapper {
    height: 815px;
    position: relative;
    .slide {
      top: 0;
      background-size: unset !important;
      background-position: top center !important;
      height: 815px;
    }
  }
  .banner-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(180px);
    width: 1920px;
    svg{
      fill: #fff;
    }
  }
  // &:after {
  //   width: 100%;
  //   height: 198px;
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: 0px;
  //   background-image: url(../../../../static/images/banner_after.gif);
  //   background-position: bottom center;
  //   left: 0;
  //   background-repeat: no-repeat;
  //   z-index: -1;
  // }
  &:before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: linear-gradient(to right, #0db5e4, #27eca4);
    position: absolute;
    z-index: -1;
  }
  .slider-content {
    &.banner-center {
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
      }
      .module-banner {
        .module-content {
          .banner-text {
            .title {
              text-align: center;
              margin-left: auto;
              margin-right: auto;
            }
            .desc {
              text-align: center;
              margin-left: auto;
              margin-right: auto;
            }
            .link {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
  .module-banner {
    position: relative;
    position: relative;
    padding-top: 108px;
    z-index: 10;
    .module-content {
      .banner-text {
        margin-top: 158px;
        position: relative;

        z-index: 1;
        .title {
          font-size: 51px;
          margin: 0;
          margin-bottom: 29px;
          color: #fff;
          text-align: left;
          span {
            display: block;
            white-space: nowrap;
            font-size: 40px;
            font-weight: bold;
            padding-top: 7px;
          }
        }
        .desc {
          font-size: 18px;
          line-height: 29px;
          text-align: left;
          color: #fff;
          margin-bottom: 29px;
        }
        .link {
          display: table;
          min-width: 205px;
          font-size: 20px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 12px 98px 12px 36px;
          border-radius: 25px;
          box-shadow: 0 0 20px rgba(14,164,206,.25);
          position: relative;
          background: #fff;
          &:hover {
            color: #444;
            box-shadow: 10px 10px 15px rgba(14, 164, 206, 1);
            span {
              background: linear-gradient(#31f0a2, #0eb2e8);
              transform: rotateY(360deg);
            }
          }
          span {
            position: absolute;
            background: linear-gradient(#0eb2e8, #31f0a2);
            transform-style: preserve-3d;
            right: 5px;
            width: 34px;
            height: 34px;
            top: 5px;
            border-radius: 50%;
            text-align: center;
            line-height: 32px;
            font-size: 20px;
            color: #fff;
            display: block;
            transform: rotateY(0);
            transition: all 0.3s;
          }
        }
      }
      .banner-img {
        padding-left: 32px;
      }
    }
  }
}
.section-function {
  padding-top: 122px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  .module-function {
    .module-content {
      max-width: 1010px;
      margin: 0 auto;
      .tab-control {
        .control-list {
          display: flex;
          border: none;
          box-shadow: 0 0 20px rgba(14, 164, 206, 0.25);
          background: #fff;
          border-radius: 20px;
          margin: 0;
          .control-list__item {
            width: 25%;
            border-radius: 10px;
            padding-top: 24px;
            padding-bottom: 10px;
            position: relative;
            min-height: 130px;
            &:after {
              height: calc(~"100%");
              width: 100%;
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: #fff;
              z-index: -1;
              border-radius: 10px;
              transition: all 0.3s;
            }
            &:before {
              height: 0px;
              width: 100%;
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              background: #fff;
              transition: all 0.3s;
              transform: translateX(-50%);
              z-index: 1;
              border-radius: 10px;
              background: linear-gradient(#0eb2e8, #31f0a2);
            }
            &:hover,
            &.active {
              z-index: 1;
              .img {
                margin-bottom: 15px;
                img {
                  &.base__img {
                    opacity: 0;
                  }
                  &.hover__img {
                    opacity: 1;
                  }
                }
              }
              &:after {
                height: calc(~"100% + 34px");
                box-shadow: 0 0 20px rgba(199, 227, 235, 0.25);
                border-radius: 0px;
              }
              &:before {
                top: -17px;
                height: 5px;
              }
            }
            .img {
              height: 58px;
              display: block;
              position: relative;
              transition: all 0.3s;
              margin-bottom: 3px;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &.base__img {
                  opacity: 1;
                }
                &.hover__img {
                  opacity: 0;
                }
              }
            }
            .text {
              margin-bottom: 0;
              font-size: 14px;
              color: #5c6c90;
            }
          }
        }
      }
      .tab-content {
        padding-top: 39px;
        min-height: 150px;
        margin-left: 24px;
        // max-width: 576px;
        padding-left: 41px;
        padding-right: 13px;
        letter-spacing: 0.5px;
        padding-bottom: 13px;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(#0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translateX(-50%);
        }
        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(#0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translateX(-50%);
        }
        .desc {
          font-size: 16px;
          line-height: 25px;
          color: #0a4558;
        }
      }
    }
  }
}
section {
  .module {
    .title__float {
      position: absolute;
      text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      font-size: 190px;
      line-height: 190px;
      animation: title__float 3s ease infinite;
      span {
        display: block;
      }
    }
  }
}
.section-benefit {
  padding-top: 9px;

  .module-benefit {
    position: relative;
    .title__float {
      left: 240px;
      top: -56px;
    }
    .module-header {
      .title {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 106px;
        font-size: 40px;
        color: #0364a7;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 100%;
          background: linear-gradient(#0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translate(-10px, -50%);
        }
        &:before {
          content: "";
          display: block;
          width: 500px;
          height: 2px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 100%;
          background: linear-gradient(to right, #0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translate(-10px, -50%);
        }
      }
    }
    .module-content {
      margin-top: 120px;
      position: relative;
      min-height: 605px;
      .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 332px;
        .benefit-main {
          padding-top: 45%;
          position: relative;
          z-index: 1;
          > img {
            animation: benefit_phone 3s linear infinite;
          }
          img {
            width: 100%;
          }
          .part {
            position: absolute;
            .layer {
              position: absolute;
            }
            &.main__floor {
              width: 92%;
              left: 2%;
              bottom: -6.4%;
              z-index: -1;
            }
            &.part1 {
              width: 34%;
              left: 33%;
              transform-style: preserve-3d;
              top: 0;
              > img {
                animation: benefit_logo linear 3s infinite;
                animation-delay: 1.5s;
              }
              .layer1 {
                left: 0%;
                width: 100%;
                bottom: 2%;
                animation: benefit_logo linear 3s infinite;
                animation-delay: 1.5s;
              }
              .layer2 {
                left: 0%;
                width: 100%;
                bottom: -14%;
                animation: benefit_logo linear 3s infinite;
                animation-delay: 1s;
              }
              .layer3 {
                left: 0%;
                width: 100%;
                bottom: -20%;
                animation: benefit_logo linear 3s infinite;
                animation-delay: 0.5s;
              }
              .layer4 {
                left: -48%;
                width: 102%;
                bottom: -26%;
                transform: translateZ(106px);
                animation: benefit_layer4 linear 4s infinite;
              }
              .layer__logo {
                width: 80%;
                left: 8%;
                top: 17%;
                animation: benefit_logo linear 3s infinite;
              }
              .layer-round {
                width: 168%;
                left: -34%;
                top: 38%;
                transform: rotateX(60deg);
                transform-style: preserve-3d;

                .round__main {
                  width: 100%;
                  padding-bottom: 100%;
                  border: 1px solid #fff;
                  border-radius: 50%;
                  display: block;
                }
                .round__small {
                  width: 66%;
                  padding-top: 66%;
                  border: 1px solid #fff;
                  border-radius: 50%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) translateZ(8px);
                  display: block;
                  position: absolute;
                }
                .point-content {
                  animation: benefit_round 2s linear infinite;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  .round__point1 {
                    position: absolute;
                    top: 28%;
                    left: 0%;
                    width: 5.5%;
                    animation: benefit_point linear 2s infinite;
                  }
                  .round__point2 {
                    position: absolute;
                    bottom: 28%;
                    right: 1%;
                    width: 5.5%;
                    animation: benefit_point linear 2s infinite;
                  }
                  .round__point3 {
                    position: absolute;
                    bottom: 75%;
                    right: 9%;
                    width: 3.5%;
                    animation: benefit_point linear 2s infinite;
                  }
                }
              }
            }
            &.part2 {
              bottom: 45%;
              width: 15%;
              left: 3%;
              > img {
                animation: chat_item2 3s linear infinite;
              }
              .layer1 {
                bottom: 57%;
                width: 100%;
                left: 0;
                animation: chat_item1 3s linear infinite;
              }
            }
            &.part3 {
              width: 9%;
              right: 71%;
              top: 23%;
              .part3-layer {
                > img {
                  animation: chat_left_item3 2s linear infinite;
                }
                .chat__item {
                  position: absolute;
                  right: 0;
                  &.chat__item1 {
                    width: 114%;
                    top: -32%;
                    animation: chat_left_item2 2s linear infinite;
                  }
                  &.chat__item2 {
                    width: 36%;
                    top: -100%;
                    animation: chat_left_item1 2s linear infinite;
                  }
                }
              }
              .layer {
                &.part3-layer {
                  top: 125%;
                  > img {
                    animation: chat_left_item6 2s linear infinite;
                  }
                  .chat__item {
                    &.chat__item1 {
                      animation: chat_left_item5 2s linear infinite;
                    }
                    &.chat__item2 {
                      animation: chat_left_item4 2s linear infinite;
                    }
                  }
                }
                &.layer2 {
                  width: 66%;
                  top: 153%;
                  right: 0;
                  animation: chat_left_item7 2s linear infinite;
                }
              }
            }
            &.part4 {
              width: 5.7%;
              top: 25.4%;
              left: 78.5%;
              > img {
                animation: chat_left_item1 2s linear infinite;
              }
              .layer1 {
                width: 334%;
                top: 97%;
                left: 0;
                animation: chat_left_item2 2s linear infinite;
              }
              .layer2 {
                width: 280%;
                top: 163%;
                left: 0;
                animation: chat_left_item3 2s linear infinite;
              }
              .layer3 {
                width: 207%;
                top: 247%;
                left: 0;
                animation: chat_left_item4 2s linear infinite;
              }
            }
          }
        }
        .layer-background {
          position: absolute;
          width: 116%;
          top: -9.1%;
          left: -8%;
          z-index: -1;

          img {
            width: 100%;
          }
          .layer1 {
            display: block;
            animation: benefit_bg_round 3s linear infinite;
            animation-delay: 0;
          }
          .layer__round2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 155%;
            z-index: -1;
            animation: benefit_bg_round1 3s linear infinite;
            animation-delay: 0.5s;
          }
          .layer__round3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 222%;
            z-index: -1;
            animation: benefit_bg_round1 3s linear infinite;
            animation-delay: 1s;
          }
        }
      }
      .text {
        .benefit-item {
          position: absolute;
          z-index: 1;
          &:hover {
            .content {
              transform: rotateY(0deg);
            }
          }
          .content {
            transform: rotateY(180deg);
            border-radius: 10px;
            transform-style: preserve-3d;
            transition: all 0.3s;
          }

          &:nth-child(1) {
            top: 118px;
            left: 0;
            .benefit__line {
              bottom: 100%;
              left: 50%;
              transform: translate(4px, 4px);
            }
          }
          &:nth-child(2) {
            top: 427px;
            left: 293px;
            .benefit__line {
              bottom: 100%;
              left: 50%;
              transform: translate(-4px, 4px);
            }
          }
          &:nth-child(3) {
            top: 303px;
            right: 49px;
            .benefit__line {
              top: 100%;
              right: 50%;
              transform: translate(4px, -116px);
            }
          }
          &:nth-child(4) {
            top: -3px;
            right: -21px;
            .benefit__line {
              top: 100%;
              right: 50%;
              transform: translate(4px, -4px);
            }
          }
          .before-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#0eb2e8, #31f0a2);
            transform: rotateY(180deg) translateZ(1px);
            border-radius: 10px;
            .align-content {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              transform: translate(-50%, -50%);
              text-align: center;

              .icon__layer {
                display: block;
                height: 52px;
                position: relative;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              .title {
                text-transform: uppercase;
                color: #fff;
                font-size: 13px;
                margin: 0;
                margin-top: 6px;
              }
            }
          }
          .benefit__line {
            position: absolute;
          }
          .after-layer {
            position: relative;
            width: 264px;
            border-radius: 10px;
            padding: 10px 15px;
            padding-bottom: 20px;
            border: 1px dashed #0eb2e8;
            background: #fff;
            min-height: 120px;
            .text {
              .title {
                margin: 0;
                text-align: center;
                color: #0a4558;
                padding-top: 10px;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 10px;
              }
              .desc {
                margin: 0;
                text-align: justify;
                font-size: 13px;
                line-height: 19px;
                color: #0a4558;
              }
            }
          }
        }
      }
    }
  }
}

.section-news {
  padding-top: 56px;
  padding-top: 56px;
  padding-bottom: 100px;
  .module-news {
    .module-header {
      margin-bottom: 31px;
      .title {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 106px;
        font-size: 40px;
        color: #0364a7;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 100%;
          background: linear-gradient(#0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translate(-10px, -50%);
        }
        &:before {
          content: "";
          display: block;
          width: 500px;
          height: 2px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 100%;
          background: linear-gradient(to right, #0eb2e8, #31f0a2);
          transition: all 0.3s;
          transform: translate(-10px, -50%);
        }
      }
    }
    .module-content {
      position: relative;
      padding-top: 94px;
      max-width: 1030px;
      margin-left: auto;
      margin-right: auto;
      .title__float {
        right: 0;
        transform: rotate(-90deg);
        transform-origin: right top;
        top: -40px;
        font-size: 146px;
        z-index: 1;
      }
      .slick-slider {
        position: unset;
      }
      .news__control {
        position: absolute;
        top: 0;
        width: 35px;
        height: 35px;
        padding: 0;
        text-align: center;
        border-radius: 50%;
        line-height: 20px;
        font-size: 16px;
        color: #fff;
        box-shadow: 0 6px 10px rgba(199, 227, 235, 0.7);
        background: linear-gradient(#0eb2e8, #31f0a2);
        transform: scale(1);
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 13px 30px #12a1ce63;
        }
        &.next__btn {
          right: 40px;
        }
        &.prev__btn {
          right: 0px;
        }
      }
      .news-slide {
        margin: 0 -15px;
        .slick-list {
          padding: 15px 0;
          margin: -15px 0;
          .slick-slide {
            padding: 0 15px;
          }
        }
      }
      .news-item {
        position: relative;
        background: #fff;
        padding: 2px;
        border-radius: 4px;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        max-width: 324px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          .text {
            opacity: 1;
            transform: translateY(0);
          }
          &:after {
            opacity: 1;
          }
        }
        .link {
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          z-index: 1;
          cursor: pointer;
        }
        .img {
          height: 324px;
          position: relative;
          border-radius: 4px;
          overflow: hidden;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &:after {
          content: "";
          display: block;
          width: calc(~"100% - 4px");
          height: calc(~"100% - 4px");
          top: 50%;
          left: 50%;
          background: linear-gradient(rgba(42, 241, 158, 0.3), #0b62cf);
          position: absolute;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
          border-radius: 4px;
        }
        .text {
          position: absolute;
          bottom: 0;
          color: #fff;
          padding: 10px 29px;
          width: 100%;
          z-index: 10;
          opacity: 0;
          transform: translateY(-20px);
          transition: all 0.5s;
          .info {
            font-size: 11px;
            img {
              display: inline-block;
              position: relative;
              top: -1px;
              margin-right: 6px;
            }
          }
          .title {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 14px;
            a {
              color: #fff;
              &:hover {
                text-decoration: underline !important;
              }
            }
          }
          .desc {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 13px;
            margin-bottom: 13px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .section-news {
    .module-news {
      .module-content {
        .title__float {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .section-banner {
    .module-banner {
      .module-content {
        .banner-text {
          .title {
            font-size: 40px;
            span{
              font-size: 40px;
            }
          }
        }
      }
    }
  }
  .section-function {
    .module-function {
      .module-content {
        .tab-content {
          max-width: 740px;
        }
      }
    }
  }
  .section-benefit {
    .module-benefit {
      .title__float {
        font-size: 150px;
      }
      .module-content {
        .text {
          .benefit-item {
            &:nth-child(1) {
              .benefit__line {
                width: 170px;
                overflow: hidden;
              }
            }

            &:nth-child(2) {
              .benefit__line {
                overflow: hidden;
                height: 81px;
                width: 9px;
                img {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
            &:nth-child(3) {
              .benefit__line {
                right: 21%;
                transform: translate(4px, -105px);
                width: 260px;
                height: 170px;
                overflow: hidden;
                img {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
            &:nth-child(4) {
              right: 0;
              .benefit__line {
                transform: translate(4px, -4px);
                width: 149px;
                height: 63px;
                overflow: hidden;
                img {
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .section-banner {
    .slider-content {
      &.banner-center {
        .module-banner {
          .module-content {
            .banner-text {
              background: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }
    .module-banner {
      .module-content {
        .banner-text {
          padding: 30px 15px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          text-align: center;
          .title {
            text-align: center;
          }
          .desc {
            text-align: justify;
            margin-left: auto;
            margin-right: auto;
          }
          .link {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  .section-news {
    .module-news {
      .module-content {
        .news-item {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          .text {
            opacity: 1;
            transform: translateY(0);
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .section-function {
    .module-function {
      .module-content {
        .tab-content {
          max-width: 100%;
        }
      }
    }
  }
  .section-benefit {
    .module-benefit {
      .title__float {
        font-size: 123px;
        white-space: nowrap;
      }
      .module-content {
        min-height: 354px;
        .img {
          width: 164px;
          margin-top: 365px;
        }
        .text {
          .benefit-item {
            &:nth-child(1) {
              top: -167px;
              left: 0;
              .benefit__line {
                transform: translate(4px, -8px) rotateX(-180deg);
                width: 140px;
                height: 68px;
                overflow: hidden;
                top: 100%;
              }
            }

            &:nth-child(2) {
              top: 208px;
              left: 98px;
              .benefit__line {
                overflow: hidden;
                height: 50px;
                width: 9px;
                right: 41px;
                left: unset;
                img {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
            &:nth-child(3) {
              top: 144px;
              right: 0;
              .benefit__line {
                right: 21%;
                transform: translate(4px, -105px);
                width: 260px;
                height: 170px;
                overflow: hidden;
                img {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
              }
            }
            &:nth-child(4) {
              top: -167px;
              right: 0;
              .benefit__line {
                transform: translate(4px, -4px);
                width: 163px;
                height: 63px;
                overflow: hidden;
                img {
                  position: absolute;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .section-banner {
    .module-banner {
      .module-content {
        .banner-text {
          margin-top: 110px;
          .title {
            font-size: 30px;
            font-weight: bold;;
            span{
              font-size: 30px;
              font-weight: normal;
            }
          }
          .desc {
            font-size: 16px;
            line-height: 24px;
            text-align: justify;
          }
        }
      }
    }
  }
  .section-function {
    padding-bottom: 50px;
    padding-top: 0;
    .module-function {
      .module-content {
        .tab-control {
          .control-list {
            flex-wrap: wrap;
            flex-direction: row;
            .control-list__item {
              width: 50%;
              padding: 15px;
              min-height: unset;
              &:after,
              &:before {
                display: none;
              }
              &.active {
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
                border: 2px solid #0364a7;
              }
              .img {
                display: none;
              }
            }
          }
        }
        .tab-content {
          max-width: 100%;
          margin-left: 10px;
          padding-left: 15px;
          padding-right: 15px;
          text-align: justify;
        }
      }
    }
  }
  .section-benefit {
    .module-benefit {
      .title__float {
        font-size: 123px;
        white-space: nowrap;
        left: 0;
      }
      .module-content {
        margin-top: 72px;
        .img {
          display: none;
        }
        .text {
          .benefit-item {
            margin-bottom: 30px;
            &:last-child {
              margin: 0;
            }
            .content {
              transform: rotateY(0);
            }
            .after-layer {
              width: 100%;
            }
            .benefit__line {
              display: none;
            }
            &:nth-child(1) {
              position: relative;
              top: 0;
              left: 0;
            }

            &:nth-child(2) {
              position: relative;
              top: 0;
              left: 0;
            }
            &:nth-child(3) {
              position: relative;
              top: 0;
              left: 0;
            }
            &:nth-child(4) {
              position: relative;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
  .section-banner {
    .module-banner {
      .module-content {
        .banner-text {
          margin-top: 110px;
          .title {
            font-size: 25px;
            font-weight: bold;
            span {
              white-space: normal;
              font-size: 23px;
            }
          }
          .desc {
            font-size: 16px;
            line-height: 24px;
            text-align: justify;
          }
        }
      }
    }
  }
  section {
    .module {
      .title__float {
        display: none;
      }
    }
  }
  .section-function {
    padding-bottom: 50px;
    padding-top: 0;
    .module-function {
      .module-content {
        .tab-control {
          .control-list {
            flex-wrap: wrap;
            flex-direction: row;
            .control-list__item {
              width: 50%;
              padding: 15px;
              min-height: unset;
              &:after,
              &:before {
                display: none;
              }
              &.active {
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
                border: 2px solid #0364a7;
              }
              .img {
                display: none;
              }
            }
          }
        }
        .tab-content {
          max-width: 100%;
          margin-left: 10px;
          padding-left: 15px;
          padding-right: 0;
          text-align: justify;
        }
      }
    }
  }
  .section-benefit {
    .module-benefit {
      .module-header {
        .title {
          font-size: 30px;
          margin-left: 0;
          display: block;
          text-align: center;
          &:after,
          &:before {
            display: none;
          }
        }
      }
      .module-content {
        margin-top: 72px;
        .img {
          display: none;
        }
        .text {
          .benefit-item {
            margin-bottom: 30px;
            &:last-child {
              margin: 0;
            }
            .content {
              transform: rotateY(0);
            }
            .after-layer {
              width: 100%;
            }
            .benefit__line {
              display: none;
            }
            &:nth-child(1) {
              position: relative;
              top: 0;
              left: 0;
            }

            &:nth-child(2) {
              position: relative;
              top: 0;
              left: 0;
            }
            &:nth-child(3) {
              position: relative;
              top: 0;
              left: 0;
            }
            &:nth-child(4) {
              position: relative;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
  .section-news {
    .module-news {
      .module-header {
        .title {
          font-size: 30px;
          margin-left: 0;
          display: block;
          text-align: center;
          &:after,
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
