.section-newsBanner {
  margin-top: 92px;
  background: #eceefa;
  text-align: center;
  color: #647093;
  padding-top: 46px;
  padding-bottom: 45px;

  .module-newsBanner {
    .module-header {
      .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
    .module-content {
      .newsBanner-list {
        margin: 0;
        .newsBanner-list__item {
          display: inline-block;
          padding-right: 6px;
          margin-right: 4px;
          position: relative;
          font-size: 16px;
          &:last-child {
            margin: 0;
            padding: 0;
            &:after {
              display: none;
            }
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 3px;
            background: #647093;
            width: 1px;
            height: 14px;
            transform: rotate(18deg);
          }
          .newsBanner-list__link {
            color: #647093;
            &:hover {
              color: #0066ff;
            }
          }
        }
      }
    }
  }
}
.section-details {
  padding-top: 34px;
  padding-bottom: 50px;
  .module-details {
    .module-header {
      font-size: 15px;
      margin: 0;
      padding-bottom: 12px;
      .title {
        margin: 0;
        font-size: 24px;
        margin-bottom: 20px;
        color: #0066ff;
      }
      .desc {
        font-size: 12px;
        padding-left: 12px;
        color: #999eb8;
        span {
          padding-right: 12px;
          display: inline-block;
        }
        .time {
          img {
            margin-right: 8px;
            position: relative;
            top: -2px;
          }
        }
        .author {
          padding-left: 20px;
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            background: #b0b0d2;
            height: 2px;
            width: 15px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .module-content {
      img {
        padding: 1px;
        background: #fff;
        width: 100%;
        margin-bottom: 46px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
      }
      .desc {
        color: #616186;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
        text-align: justify;
      }
    }
  }
  .module-sidebar {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 14px 20px;

    .module-header {
      padding-bottom: 1px;
      border-bottom: 1px solid #d6e4ed;
      color: #625d79;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 81px;
        height: 3px;
        background: #00c07e;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 3px;
      }
      &:before {
        top: 100%;
        content: "";
        display: block;
        border-left: 6px solid #00c07e;
        border-top: 0px solid transparent;
        border-bottom: 3px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .title {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .module-content {
      padding-top: 24px;
      .sidebar-item {
        margin-bottom: 17px;
        .img {
          position: relative;
          padding-bottom: 84%;
          margin-right: 5px;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
        .text {
          .title {
            color: #323556;
            line-height: 17px;
            display: block;
            margin-bottom: 6px;
            &:hover {
              text-decoration: underline;
              color: #0066ff;
            }
          }
          .info {
            color: #98a5bc;
            padding-left: 25px;
            position: relative;
            font-size: 12px;
            &:after {
              content: "";
              display: block;
              height: 2px;
              left: 0;
              width: 16px;
              top: 50%;
              position: absolute;
              background: #00c07e;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
    .section-details {
      .module-details {
        padding-bottom: 50px;
        
      }}}
@media only screen and (max-width: 479px) {
  .section-details {
    .module-details {
      .module-header {
        .title {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
    .module-sidebar {
      .module-content {
        .sidebar-item {
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid #00c07e;
          .img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
