.section-waiting {
  padding: 0 38px;
  padding-top: 19px;
  padding-bottom: 32px;
  .module-waiting {
    .module-header {
      display: flex;
      justify-content: space-between;
      background: #f2fcfe;
      align-items: center;
      padding: 0 42px;
      color: #617da0;
      box-shadow: inset 0 0 26px rgba(14, 185, 222, 0.4);
      border-radius: 6px;
      .title {
        margin: 0;
        font-size: 21px;
      }
      .header-right {
        display: flex;
        align-items: center;
        .info {
          min-width: 253px;
          padding-top: 15px;
          padding-bottom: 5px;
        }
        .package-info {
          max-width: 300px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .package__item {
            padding: 1px 10px;
            text-align: center;
            min-width: 92px;
            border-radius: 10px;
            color: #fff;
            display: inline-block;
            margin: 3px;
            &.yellow__title {
              background: #f9c700;
            }
            &.blue__title {
              background: #0098f9;
            }
            &.green__title {
              background: #17cb2c;
            }
            &.red__title {
              background: #e40404;
            }
            &.violet__title {
              background: #7804e4;
            }
          }
        }
      }
    }
    .module-content {
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 55px;
      margin-top: 40px;
      position: relative;
      &.receive-content {
        margin-top: -3px;
        .receive-right {
          max-width: 625px;
        }
        .list-candidates {
          .head {
            position: relative;
            top: 0;
            .title {
              margin-left: 0;
              font-size: 21px;
              margin-bottom: 16px;
            }
          }
          .content {
            .candidate-item {
              margin-left: 62px;
              margin-bottom: 25px;
              .img {
                top: 50%;
                transform: translate(-50%, -50%);
              }
              .text {
                padding-bottom: 23px;
                .name {
                  font-size: 16px;
                }
                .info__desc {
                  font-size: 14px;
                  margin-bottom: 1px;
                }
              }
            }
          }
        }
      }

      .list-candidates {
        .head {
          position: absolute;
          left: 0;
          top: 1px;
          .title {
            text-transform: uppercase;
            font-size: 24px;
            margin-left: -54px;
            color: #0c548f;
            text-decoration: underline;
          }
        }
        .content {
          .candidate-item {
            box-shadow: 0 4px 10px rgba(0, 53, 88, 0.2);
            margin-left: 10px;
            position: relative;
            margin-bottom: 32px;
            .img {
              position: absolute;
              width: 136px;
              height: 136px;
              border-radius: 50%;
              top: 55px;
              transform: translateX(-50%);
              left: 0;
              background: #fff;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                padding: 4px;
                object-fit: cover;
                box-shadow: 0 0 10px rgba(1, 24, 112, 0.15);
              }
            }
            .text {
              color: #3c5c7a;
              padding-bottom: 40px;
              padding-left: 100px;
              padding-right: 40px;
              padding-top: 24px;
              &:after,
              &:before {
                content: "";
                display: table;
              }
              &:after {
                clear: both;
              }
              .name {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 5px;
              }
              .info__star {
                margin-bottom: 16px;
                .star__rate {
                  display: inline-block;
                  margin-right: 38px;
                  color: #ffc400;
                  margin-left: 10px;
                  i {
                    margin: 0 1px;
                  }
                }
                .value {
                  background: #ff0000;
                  color: #fff;
                  width: 100%;
                  display: inline-block;
                  max-width: 203px;
                  padding: 1px 10px;
                  text-align: center;
                  border-radius: 10px;
                }
              }
              .info__desc {
                font-size: 14px;
                margin-bottom: 7px;
                span {
                  font-weight: bold;
                  min-width: 109px;
                  display: inline-block;
                }
              }
              .desc {
                font-size: 13px;
                padding-top: 7px;
                line-height: 16px;
                padding-bottom: 2px;
              }
              .show__history {
                display: inline-block;
                color: #0081ef;
                text-decoration: underline;
                margin-top: 6px;
                cursor: pointer;
                &:hover {
                  color: #0362b4;
                  font-weight: bold;
                }
              }
              .button {
                float: right;
                white-space: nowrap;
                .list__btn {
                  color: #fff;
                  margin: 0 5px;
                  min-width: 134px;
                  border-radius: 20px;
                  box-shadow: 0 5px 13px rgba(1, 24, 112, 0.15);
                  &.views__btn {
                    background: #00aeef;
                    &:hover {
                      background: #0497ce;
                    }
                  }
                  &.agree__btn {
                    background: linear-gradient(to right, #0db5e4, #27eca4);
                    &:hover {
                      background: linear-gradient(to left, #0db5e4, #27eca4);
                    }
                  }
                }
              }
            }
            .history-table {
              .table-content {
                overflow: auto;
                table {
                  width: 100%;
                  thead {
                    th {
                      background: #4b6c8b;
                      color: #fff;
                      white-space: nowrap;
                      padding: 8px 13px;
                      font-weight: normal;
                      text-align: center;
                      border: 1px solid #c7deec;
                      font-size: 13px;
                    }
                  }
                  tbody {
                    tr {
                      td {
                        border: 1px solid #c7deec;
                        font-size: 13px;
                        color: #4b6c8b;
                        padding: 5px 10px;
                        min-width: 60px;
                        text-align: center;
                        font-weight: normal;
                        line-height: 18px;
                        &.nowrap {
                          white-space: nowrap;
                        }
                        &.message {
                          max-width: 400px;
                          text-align: left;
                          min-width: 170px;
                          box-shadow: unset;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .waiting-main {
        padding-top: 66px;
        text-align: center;
        .img {
          width: 104px;
          height: 104px;
          margin-left: auto;
          margin-right: auto;
          border: 3px solid #a9bbd1;
          border-radius: 50%;
          position: relative;
          margin-bottom: 40px;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .text {
          .desc {
            font-size: 16px;
            max-width: 627px;
            margin-left: auto;
            margin-right: auto;
            font-style: italic;
            line-height: 25px;
            color: #414850;
          }
        }
      }
      .waiting-item {
        box-shadow: 0 4px 10px rgba(0, 53, 88, 0.2);
        padding: 35px 27px;
        margin-bottom: 33px;
        color: #686b87;
        .desc {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 20px;
          &:first-child {
            .value {
              background: #fff;
              box-shadow: 0 4px 10px rgba(0, 53, 88, 0.2);
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          .title {
            text-transform: uppercase;
            white-space: nowrap;
          }
          .value,
          .skill__value {
            background: #ecf1fd;
            white-space: nowrap;
            border-radius: 3px;
            display: inline-block;
            line-height: 45px;
            text-align: center;
            padding: 0 10px;
            text-align: center;
            margin-left: 5px;
          }
          .value {
            min-width: 188px;
            font-size: 20px;
          }
          .skill-content {
            text-align: right;
          }
          .skill__value {
            font-size: 15px;
          }
        }
        > .title {
          font-size: 17px;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 17px;
          color: #686b87;
        }
        .waiting__btn {
          margin-top: 31px;
          min-width: 200px;
          margin-left: auto;
          margin-right: auto;
          display: table;
          font-size: 15px;
          border-radius: 20px;
          color: #fff;
          background: linear-gradient(to right, #0db5e4, #27eca4);
          box-shadow: 0 4px 10px rgba(0, 53, 88, 0.2);
          margin-bottom: 16px;
          &:hover {
            background: linear-gradient(to left, #0db5e4, #27eca4);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .section-waiting {
    .module-waiting {
      .module-header {
        .title {
          white-space: nowrap;
        }
        .header-right {
          .info {
            min-width: 215px;
          }
        }
      }
      .module-content {
        .receive-right {
          .list-candidates {
            margin-left: 0;
          }
        }
        .list-candidates {
          margin-left: 45px;
          .head {
            .title {
              margin-left: 0;
            }
          }
          .content {
            .candidate-item {
              .text {
                padding-left: 77px;
                padding-right: 15px;
                .info__desc {
                  span {
                    min-width: 85px;
                    display: inline-block;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .section-waiting {
    .module-waiting {
      .module-content {
        .waiting-item {
          .desc {
            .title {
              margin-bottom: 10px;
            }
            .value {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .section-waiting {
    padding-left: 30px;
    padding-right: 30px;
    .module-waiting {
      .module-header {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        .info {
          min-width: unset;
          .desc {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .module-content {
        &.receive-content {
          margin-left: auto;
          margin-right: auto;
          max-width: 600px;
        }
        .waiting-main {
          padding-top: 40px;
          padding-bottom: 30px;
        }
        .waiting-item {
          min-height: 310px;
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;
          .desc {
            .value {
              min-width: 177px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section-waiting {
    padding-left: 0;
    padding-right: 0;
    .module-waiting {
      .module-header {
        padding-left: 15px;
        padding-right: 15px;
        .info {
          min-width: unset;
        }
        .header-right {
          .package-info {
            min-width: 195px;
            .package__item {
              min-width: 89px;
            }
          }
        }
      }
      .module-content {
        .waiting-item {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .section-waiting {
    padding-left: 0px;
    padding-right: 0px;
    .module-waiting {
      .module-header {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        .info {
          min-width: unset;
        }
        .header-right {
          display: block;
        }
      }
      .module-content {
        .waiting-main {
          .text {
            .desc {
              font-size: 14px;
              text-align: justify;
            }
          }
        }
        .waiting-item {
          padding-left: 15px;
          padding-right: 15px;
        }
        .list-candidates {
          margin-left: 0;
          .content {
            .candidate-item {
              margin-left: 0 !important;
              .text {
                padding: 20px 15px;
                .name {
                  text-align: center;
                }
                .info__star {
                  text-align: center;
                  .star__rate {
                    margin: 0;
                    display: block;
                    padding-bottom: 6px;
                  }
                }
                .button {
                  float: none;
                  text-align: center;
                }
              }
              .img {
                position: relative;
                top: 0 !important;
                left: 0;
                transform: unset !important;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
