.deposit {
    padding-top: 31px;

    .module-deposit {
        position: relative;

        .cartHeader {
            overflow: hidden;
            padding-top: 5px;

            .form-group {
                label {
                    color: #254d74;
                    font-family: cabinBold;
                }

                .numberPrice {
                    display: flex;
                    width: 257px;
                    border-radius: 3px;
                    border: 1px solid #99c3dc;
                    padding: 2px;
                    position: relative;

                    .form-control {
                        height: 28px;
                        border: none;
                        box-shadow: none;
                    }

                    .css-2b097c-container {
                        position: absolute;
                        top: 1px;
                        width: 68px;
                        height: 28px;
                        right: 1px;
                        .css-1pahdxg-control,
                        .css-yk16xz-control {
                          height: 29px;
                          min-height: 29px;
                          background: #60738a;
                        }
                        svg,
                        .css-1uccc91-singleValue {
                          color: #fff;
                        }
                        input,
                        .css-w8afj7-Input{
                            height: 24px;
                            color: #fff;
                            margin-top: 0;
                        }
                        .css-tlfecz-indicatorContainer,
                        .css-1gtu0rj-indicatorContainer {
                          padding: 0 5px !important;
                          padding-left: 0 !important;
                        }
                        .css-1okebmr-indicatorSeparator {
                          display: none;
                        }
                        .css-1g48xl4-IndicatorsContainer{
                            height: 28px;
                        }
                        .css-1hwfws3 {
                          padding: 0 4px;
                          height: 28px;
                        }
                      }
                }

                &.cutomGroup {
                    margin-top: 0px;
                    margin-bottom: 3px;
                    margin-left: 2px;

                    .choose {
                        margin-top: 12px;

                    }
                }
            }

            .showCart {
                text-align: left;
                transform: translateY(-111%);
                display: none;
                transition: 0.3s all;
                background-color: #eaeefa;
                padding: 14px 40px 26px;
                margin-top: 22px;
                position: relative;
                margin-bottom: 14px;
                margin-right: 33px;

                &.showCart2 {
                    padding: 25px 31px;
                    margin-right: 49px;
                    margin-top: 15px;

                    p {
                        color: #565f68;
                        margin-top: 7px;
                        margin-left: 7px
                    }
                }

                &.active {
                    display: block;
                    transform: translateY(0);
                }

                .list-item {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 9px;

                    .item {
                        overflow: hidden;
                        width: 29%;
                        background: #fff;
                        text-align: center;
                        margin-left: 10px;
                        margin-bottom: 16px;
                        border: 1px solid #d6dfe9;
                        border-radius: 2px;
                        height: 59px;
                        margin-right: 6px;

                        &:nth-child(1) {
                            img {
                                margin: 8px;
                                margin-left: 5px;
                            }
                        }

                        &:nth-child(2) {
                            img {
                                margin-top: 23px;
                            }
                        }

                        &:nth-child(3) {
                            img {
                                margin-top: 16px;
                            }
                        }

                        &:nth-child(4) {
                            img {
                                margin-top: 14px;
                                margin-left: -2px;
                            }
                        }

                        &:nth-child(5) {
                            img {
                                margin-top: 11px;
                            }
                        }

                        &:nth-child(6) {
                            img {
                                margin-top: 18px;
                            }
                        }

                        img {
                            margin: 0;
                        }
                    }
                }

                img {
                    color: transparent;
                    display: inline-block;
                    margin-top: 17px;
                    margin-right: 19px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: -4%;
                    left: 15%;
                    height: 0;
                    width: 0;
                    border-bottom: 10px solid #eaeefa;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                }

                .form-group {
                    margin-bottom: 2px !important;
                }

                label {
                    color: #565f68;
                    font-weight: normal;

                    &.textlable {
                        margin-bottom: 1px;
                    }

                    &.labelText {
                        margin-left: 18px;
                        margin-top: 1px;
                    }
                }



                .form-control {
                    border-color: #d6dfea;
                    border-radius: 2px;

                    &.form-controlLeft {
                        width: 104%;
                        margin-left: -6px;
                    }

                    &.controlLeft {
                        width: 106%;
                        margin-top: -2px;
                    }

                    &.controlText {
                        margin-left: 19px;
                        width: 93%;

                        margin-top: -2px;
                    }
                }
            }

            .title {

                padding: 4px 0px;
                border: 1px solid #dce4ed;
                width: 326px;
                color: #565f68;
                position: relative;
                margin-bottom: 12px;
                font-weight: normal;
                text-align: left;
                padding-left: 51px;
                cursor: pointer;

                &.active {
                    box-shadow: 3px 6px 1px 1px #eaeefa85;

                    &:before {
                        background: linear-gradient(to right, #2af19e, #0ab1e8);
                    }
                }

                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    left: 5%;
                    background-color: #d5e3f3;
                    position: absolute;
                    top: 50%;
                }
            }
        }

        .formCode {
            box-shadow: 0px 0px 9px 7px #eaeefaa1;
            margin-top: 16px;
            text-align: center;
            padding-bottom: 37px;
            margin-left: -31px;

            .form {
                padding: 41px 80px 0px 82px;

                .title {
                    text-align: center;
                    color: #424b60;
                    font-weight: normal;
                    margin: 0;
                    font-size: 17px;
                    margin-top: 0px;

                    .code {
                        color: #004dfb;
                        margin-left: 8px
                    }
                }

                .table {
                    text-align: left;

                    tr {
                        border-bottom: 2px solid #fff;

                        th {
                            border: unset;
                            color: #525b6d;
                            font-weight: normal;
                            padding: 9px 29px 0px;
                        }

                        td {
                            border: unset;
                            background-color: #eaeefa;
                            color: #69748d;
                            padding: 12px 22px 8px 30px;
                        }
                    }
                }

                button {
                    color: #fff;
                    border-radius: 24px;
                    border: unset;
                    background: linear-gradient(to right, #2af19e, #0ab1e8);
                    margin-top: 7px;
                    min-width: 202px;
                    margin-left: 13px;
                    padding: 8px;

                    &.active {
                        display: none;
                    }
                }

                .textCheck {
                    margin-top: 15px;
                    font-size: 12px;
                    color: #0b68e6;
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }

            .paymentGuide {
                padding-right: 19px;
                padding-left: 45px;
                display: none;
                text-align: left;
                color: #424b60;

                &.active {
                    display: block;
                }

                .titlePlay {
                    font-family: cabinBold;
                    font-weight: normal;
                    font-size: 16px;
                    margin-top: 24px
                }

                .itemPlay {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;

                    &.itemPlay1 {
                        .numberCarCopy {
                            margin-left: 74px;
                            font-size: 13px;
                        }
                    }

                    &.itemPlay2 {
                        .numberCarCopy {
                            margin-left: 132px;

                            .copy {
                                margin-left: 20px;
                            }
                        }


                    }

                    &.itemPlay3 {
                        .numberPaly {
                            font-size: 13px;
                            margin-top: 0px;
                            word-break: break-all;
                        }

                        .numberCarCopy {
                            margin-left: -3px;
                            margin-top: -5px;

                            .copy {
                                margin-left: 20px;
                            }
                        }

                    }

                    .numberCarCopy {
                        margin-left: 107px;

                        .copy {
                            display: inline-block;
                            color: #fff;
                            background: linear-gradient(to right, #2af19e, #0ab1e8);
                            margin-left: 8px;
                            padding: 0px 13px;
                            border-radius: 3px;
                            cursor: pointer;

                            &:hover {
                                background: linear-gradient(to right, #21d288, #06a2d6);
                            }
                        }
                    }


                }

                .titlePlay2 {
                    font-size: 17px;
                    margin-top: 15px;

                }

                .infotext {
                    padding-left: 14px;
                    line-height: 18px;
                    font-style: italic;

                }

                .containerInput {
                    display: flex;
                    width: 378px;
                    margin-left: 57px;
                    margin-top: 20px;
                    background: #eaeefa;
                    padding-right: 4px;
                    border-radius: 3px;

                    .form-control {
                        border: none;
                        box-shadow: unset;
                        background: transparent;
                        height: 31px;

                        &::placeholder {
                            color: #7985a0;
                            font-style: unset;
                        }
                    }

                    .confirm {
                        padding: 0px;
                        min-width: 69px;
                        color: #fff;
                        height: 24px;
                        background: linear-gradient(to right, #2af19e, #0ab1e8);
                        margin-top: 4px;
                        border-radius: 3px;

                        &:hover {
                            background: linear-gradient(to right, #21d288, #06a2d6);
                        }
                    }
                }

                .note {
                    color: #ea442c;
                    margin-top: 16px;
                    margin-left: 6px;
                }
            }
        }
    }
}

.info-tab {
    .section-history {
        padding-top: 22px;

        .cusTomInput {
            display: flex;
            width: 204px;
            background: #eaeefa;
            margin: auto;
            margin-top: -1px;

            .form-control {
                border: none;
                box-shadow: unset;
                height: 20px;
                background: transparent;

                &::placeholder {
                    color: #9ab4cc;
                    font-style: unset;
                    font-size: 12px;
                }
            }

            button {
                width: 52%;
                box-shadow: unset;
                color: #fff;
                background: #4b6c8b;
                height: 20px;
                border-radius: 1px;
                padding: 0px 0px;
            }
        }

        .module-table {
            .module-content {
                .table-content {
                    table {
                        tbody {
                            tr {
                                td {
                                    padding: 14px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1199.9px) {
    .deposit {
        .module-deposit {
            .formCode {
                margin-left: unset;
                padding: 20px;

                .paymentGuide {
                    padding: unset;

                    .containerInput {
                        margin-left: unset;
                    }
                }

                .form {
                    padding: 0px;
                }
            }

            .cartHeader {
                .showCart {
                    margin-right: unset;
                    padding: 15px;

                    &.showCart2 {
                        margin-right: unset;
                    }

                    .form-control {
                        &.controlLeft {
                            width: 100%;
                            margin-top: unset;
                        }

                        &.controlText {
                            width: 100%;
                            margin: unset;
                        }
                    }

                    label {
                        &.labelText {
                            margin-top: unset;
                            margin-left: unset;
                        }
                    }

                    .list-item {
                        .item {
                            width: 45%;
                        }
                    }
                }

                .title {
                    width: unset;
                }

            }
        }
    }

    .info-tab {
        padding: 0;

        .section-table {
            .module-table {
                .module-header {
                    padding-left: 1.8%;
                }
            }
        }

    }
}

@media (max-width: 991.9px) {

    .deposit {
        .module-deposit {
            .formCode {
                .table {
                    tr {
                        td {
                            padding: 5px;
                        }
                    }
                }

                .paymentGuide {
                    .itemPlay {
                        display: unset;

                        .numberCarCopy {
                            margin-left: 20px;
                        }

                        &.itemPlay1,
                        &.itemPlay2 {
                            .numberCarCopy {
                                margin-left: 20px;
                            }
                        }

                        &.itemPlay3 {
                            .numberCarCopy {
                                .copy {
                                    margin-top: 9px;
                                }
                            }
                        }
                    }

                    .containerInput {
                        width: unset;
                    }
                }
            }

            .cartHeader {
                .showCart {
                    &.showCart2 {
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media(max-width: 479.9px) {
    .deposit {
        .module-deposit {
            .cartHeader {
                .showCart {
                    &.showCart2 {
                        padding: 10px;
                    }

                    img {
                        width: 54px;
                    }

                    .list-item {
                        .item {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .formCode {.form {.table {tr {td{
                padding: 12px 5px 8px 5px;
            }}}}}
        }
    }
}