.active-modal {
  .office-page {
    .office-container {
      .office-content {
        .bs-tab {
          .tab-control,
          .tab-content {
            z-index: unset;
          }
        }
      }
    }
  }
}

.office-page {
  position: relative;
  padding-top: 79px;
  &:after {
    content: "";
    width: 100%;
    height: 276px;
    background-image: url(../../../../static/images/office_top_bg.jpg);
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .office-container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    .office-content {
      position: relative;
      padding-top: 44px;
      .wallet-info {
        position: absolute;
        top: 30px;
        right: 5px;
        .wallet-item {
          float: left;
          margin-right: 20px;
          z-index: 1;
          &:last-child {
            margin-right: 0;
          }
          .title {
            color: #fff;
            margin-bottom: 4px;
            font-size: 13px;
          }
          .value {
            color: #fff;
            position: relative;
            z-index: 1;
            min-width: 150px;
            font-size: 15px;
            line-height: 32px;
            text-align: center;
            padding: 0 10px;
            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: #0e7655;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
              border-radius: 3px;
            }
            &:before {
              content: "";
              display: block;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              background: linear-gradient(#0db5e4, #27eca4);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
              border-radius: 3px;
            }
          }
        }
      }
      .bs-tab {
        .tab-control {
          position: relative;
          .control-list {
            margin: 0;
            .control-list__item {
              background: rgba(0, 0, 0, 0.4);
              color: #fff;
              padding: 0;
              margin-right: 8px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              position: relative;
              z-index: 2;
              &.active,
              &:hover {
                background: #fff;
                color: #516090;
                .control-item {
                  font-size: 14px;
                  font-weight: bold;

                  .img {
                    .icon__base {
                      opacity: 0;
                    }
                    .icon__hover {
                      opacity: 1;
                    }
                  }
                }
              }
              .control-item {
                position: relative;
                padding-left: 14px;
                font-size: 13px;
                padding-top: 15px;
                line-height: 20px;
                padding-bottom: 4px;
                font-weight: normal;
                padding-right: 13px;
                display: flex;
                transition: all 0.3s;
                .img {
                  position: relative;
                  padding-right: 8px;
                  .icon__hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
        .tab-content {
          background: #fff;
          border-top-right-radius: 10px;
          padding-bottom: 50px;

          position: relative;
          &:before {
            content: "";
            position: absolute;
            border-top-right-radius: 10px;
            width: 100%;
            height: 117px;
            top: 0px;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 5px -10px 10px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
.bs-modal {
  color: #525d6b;
  .content-modal {
    overflow: unset;
    .header-modal {
      .close__modal {
        top: -14px;
        right: -14px;
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
        img {
          width: 100%;
        }
      }
    }
  }
  .modal__textarea,
  .modal__input {
    border: 1px solid #b3d2e5;
    color: #566489;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: unset;
    .relative{
      position: relative;
    }
  }
  .button {
    text-align: center;
    .modal__btn {
      min-width: 136px;
      margin: 0 10px;
      background: linear-gradient(to right, #0db5e4, #27eca4);
      border-radius: 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      color: #fff;
      &.red__btn {
        background: #ff0000;
        &:hover {
          background: #ff0808;
        }
      }
      &:hover {
        background: linear-gradient(to right, #27eca4, #0db5e4);
      }
    }
  }
  .css-2b097c-container {
    height: 35px;
    .css-1pahdxg-control,
    .css-yk16xz-control {
      height: 35px;
      min-height: 35px;
      border: 1px solid #b3d2e5;
      border-radius: 3px;
    }
    input {
      height: auto;
    }
    .css-1uccc91-singleValue {
      color: #566489;
    }
    svg {
      color: #566489;
      width: 15px;
    }
    .css-1okebmr-indicatorSeparator {
      background: #566489;
    }
    .css-tlfecz-indicatorContainer {
      padding: 6px 4px;
    }
    .css-1gtu0rj-indicatorContainer {
      padding: 6px 4px !important;
    }
  }
  &.create-modal {
    .content-modal {
      max-width: 860px;
      .create-job {
        .head {
          .title {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            padding-top: 15px;
            color: #525d6b;
          }
        }
        .content {
          max-width: 745px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 12px;
          label {
            margin-bottom: 3px;
            font-weight: normal;
            display: block;
            height: 20px;
            color: #3d4a59;
          }
          .item-address{
            margin-bottom: 11px;
            position: relative;
            min-width: 100px;
            padding-left: 20px;
            input{
              height: 0px;
              width: 0px;
              &:checked ~ .checkbox_address::after{
                display: block;
              }
            }
            .checkbox_address{
              height: 11px;
              width: 11px;
              border: 1px solid #408fbe;
              border-radius: 3px;
              position: absolute;
              margin-top: 3px;
              left: 0;
              &::after{
                position: absolute;
                content: "\2713";
                height: 12px;
                width: 12px;
                top: -5px;
                font-weight: bold;
                display: none;
              }
            }
          }
          .modal__textarea,
          .modal__input {
            border: 1px solid #b3d2e5;
            color: #566489;
            height: 35px;
            border-radius: 3px;
          }
          .react-datetime-picker {
            width: 100%;

            .react-datetime-picker__wrapper {
              width: 100%;
              border: 1px solid #b3d2e5;
              border-radius: 3px;
              color: #566489;
              height: 35px;
            }
            .react-calendar {
              button {
                padding: 10px 5px;
              }
            }
            button {
              box-shadow: unset;
              border-radius: 0;
              border: 1px solid transparent;
              &:hover {
                border: 1px solid #1087ff;
                background: #fff;
                color: #1087ff;
              }
            }
            .react-datetime-picker__inputGroup {
              padding-left: 5px;
              padding-right: 3px;
              font-size: 13px;
            }
            .react-datetime-picker__calendar,
            .react-datetime-picker__clock {
              top: 100% !important;
              bottom: unset !important;
            }
            .react-datetime-picker__button {
              padding: 8px 5px;
              position: relative;
              &:focus {
                svg {
                  stroke: #fff;
                }
              }
              &:hover {
                svg {
                  stroke: #566489;
                }
              }
              &.react-datetime-picker--open {
                svg {
                  stroke: #fff;
                }
                &:hover {
                  stroke: #566489;
                }
              }
              svg {
                stroke: #566489;
                width: 16px;
              }
              &:after {
                content: "";
                display: block;
                margin-bottom: 8px;
                margin-top: 8px;
                height: 19px;
                left: 0;
                top: 0;
                width: 1px;
                background: #566489;
                position: absolute;
              }
              &.react-datetime-picker__clear-button {
                display: none;
              }
            }
          }
          .part1 {
            .item {
              margin-bottom: 12px;

              .item-content {
                max-width: 636px;
                margin-left: auto;
                margin-right: auto;
                .modal__textarea {
                  &.description {
                    height: 109px;
                  }
                }
              }
              .desc {
                color: #8ba0ba;
                font-style: italic;
                font-size: 12px;
                padding-top: 4px;
                margin-bottom: 2px;
              }
            }
          }
          .part2 {
            color: #3d4a59;
            margin-top: -4px;
            .title {
              font-size: 17px;
            }
            .desc {
              color: #3d4a59;
              font-size: 14px;
            }
            .pay-type, .help-info {
              padding-top: 5px;
              .pay-item, .help-item {
                box-shadow: 0 5px 25px rgba(0, 53, 88, 0.15);
                position: relative;
                padding-top: 18px;
                padding-right: 11px;
                padding-left: 28px;
                padding-bottom: 5px;
                min-height: 117px;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                  box-shadow: 0 5px 25px rgba(0, 53, 88, 0.35);
                }
                .radio__check {
                  position: absolute;
                  display: block;
                  width: 14px;
                  height: 14px;
                  background: #d7e5f4;
                  left: 5px;
                  top: 21px;
                  border-radius: 50%;
                  &.active {
                    &:after {
                      content: "";
                      width: 8px;
                      height: 8px;
                      display: block;
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%);
                      background: #a8bbd1;
                      border-radius: 50%;
                    }
                  }
                }
                &:after {
                  content: "";
                  display: block;
                  height: 5px;
                  width: 100%;
                  background: linear-gradient(to left, #0db5e4, #27eca4);
                  position: absolute;
                  top: 0;
                  left: 0;
                  border-radius: 10px;
                }
                .pay__title, .help__title {
                  font-weight: bold;
                  font-size: 15px;
                  margin-bottom: 9px;
                }
                .pay__note, .help__note{
                  position: absolute;
                  color: #0090ff;
                  font-style: italic;
                  top: 20px;
                  right: 21px;
                  font-size: 12px;
                }
                .help__note{
                  position: absolute;
                  color: #ea2e2e;
                  padding: 3px 4px;
                  background: #eee;
                  font-style: italic;
                  top: 20px;
                  right: 21px;
                  font-size: 12px;
                }
              }
            }
            .pay-budget {
              padding-top: 31px;
              max-width: 632px;
              margin-left: auto;
              margin-right: auto;
              padding-bottom: 26px;
              .item {
                .item-content {
                  position: relative;
                  .unit {
                    position: absolute;
                    top: 2px;
                    right: 20px;
                    height: 31px;
                    line-height: 31px;
                    width: 40px;
                    border-radius: 5px;
                    color: #476784;
                    &.unit__bg {
                      right: 2px;
                      color: #fff;
                      background: #476784;
                      text-align: center;
                    }
                  }
                  .unit__select {
                    .css-2b097c-container {
                      position: absolute;
                      top: 3px;
                      width: 68px;
                      height: 28px;
                      right: 3px;
                      .css-1pahdxg-control,
                      .css-yk16xz-control {
                        height: 29px;
                        min-height: 29px;
                        background: #60738a;
                      }
                      svg,
                      .css-1uccc91-singleValue {
                        color: #fff;
                      }
                      input,
                      .css-w8afj7-Input {
                        height: 24px;
                        color: #fff;
                        margin-top: 0;
                      }
                      .css-tlfecz-indicatorContainer,
                      .css-1gtu0rj-indicatorContainer {
                        padding: 0 5px !important;
                        padding-left: 0 !important;
                      }
                      .css-1okebmr-indicatorSeparator {
                        display: none;
                      }
                      .css-1g48xl4-IndicatorsContainer {
                        height: 28px;
                      }
                      .css-1hwfws3 {
                        padding: 0 4px;
                        height: 28px;
                      }
                    }
                  }
                }
              }
            }
            .package-content {
              padding-top: 40px;
              .toggle__package {
                color: #0072ff;
                text-decoration: underline;
                font-size: 17px;
                cursor: pointer;
              }
              .package-item {
                box-shadow: 0 5px 25px rgba(0, 53, 88, 0.15);
                padding: 14px;
                margin-bottom: 20px;
                padding-bottom: 5px;
                border-radius: 7px;
                position: relative;
                min-height: 131px;
                cursor: pointer;
                &:hover {
                  box-shadow: 0 5px 25px rgba(0, 53, 88, 0.35);
                }

                .item-head {
                  padding-left: 28px;
                  .checkbox {
                    position: absolute;
                    top: 20px;
                    left: 13px;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #408fbe;
                    border-radius: 3px;
                    margin: 0;
                    &.active {
                      &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 10px;
                        height: 10px;
                        background: #408fbe;
                      }
                    }
                  }
                  .package__title {
                    background: red;
                    padding: 5px 14px;
                    border-radius: 3px;
                    display: inline-block;
                    width: 154px;
                    white-space: nowrap;
                    color: #fff;
                    text-align: center;
                    margin-right: 10px;
                    &.yellow__title {
                      background: #f9c700;
                    }
                    &.blue__title {
                      background: #0098f9;
                    }
                    &.green__title {
                      background: #17cb2c;
                    }
                    &.red__title {
                      background: #e40404;
                    }
                    &.violet__title {
                      background: #7804e4;
                    }
                  }
                  .package__fee {
                    text-align: center;
                    border: 1px solid #a8bbd1;
                    border-radius: 3px;
                    color: #646c7c;
                    box-shadow: 5px 5px 5px rgba(0, 53, 88, 0.15);
                    display: inline-block;
                    min-width: 133px;
                    padding: 5px 10px;
                  }
                }
                .item-content {
                  padding-left: 18px;
                }
              }
            }
            .result-content {
              .title {
                margin-bottom: 15px;
              }
              .result-border {
                display: table;
                min-width: 290px;
                margin-left: auto;
                margin-right: auto;
                border: 1px solid #dce4ed;
                border-radius: 2px;
                padding: 8px 15px;
                position: relative;
                .price__pay {
                  text-align: center;
                  border: 1px solid #a8bbd1;
                  border-radius: 3px;
                  color: #646c7c;
                  box-shadow: 5px 5px 5px rgba(0, 53, 88, 0.15);
                  display: inline-block;
                  min-width: 171px;
                  padding: 5px 10px;
                  margin-right: 12px;
                  text-transform: uppercase;
                }
                .package__title {
                  background: red;
                  padding: 5px 14px;
                  border-radius: 3px;
                  display: inline-block;
                  min-width: 131px;
                  white-space: nowrap;
                  color: #fff;
                  text-align: center;
                  margin: 0px 5px;
                  &.yellow__title {
                    background: #f9c700;
                  }
                  &.blue__title {
                    background: #0098f9;
                  }
                  &.green__title {
                    background: #17cb2c;
                  }
                  &.red__title {
                    background: #e40404;
                  }
                  &.violet__title {
                    background: #7804e4;
                  }
                }
                .job__name {
                  padding-top: 4px;
                  text-transform: uppercase;
                }
                .fee_pay {
                  position: absolute;
                  top: 100%;
                  color: #f40000;
                  left: 0;
                  font-style: italic;
                  font-size: 13px;
                  padding-top: 4px;
                }
              }
            }
            .modal__btn {
              display: table;
              margin-left: auto;
              margin-right: auto;
              min-width: 199px;
              margin-top: 40px;
              border-radius: 30px;
              color: #fff;
              background: linear-gradient(to left, #0db5e4, #27eca4);
              box-shadow: 0 5px 25px rgba(0, 53, 88, 0.35);
              &:hover {
                box-shadow: 0 5px 25px rgba(0, 53, 88, 0.35);
                background: linear-gradient(to left, #27eca4, #0db5e4);
              }
            }
          }
        }
      }
      .delete-created {
        .title {
          text-transform: uppercase;
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          padding-bottom: 46px;
          padding-top: 8px;
        }
        .desc {
          max-width: 617px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        .button {
          padding-top: 25px;
          margin-bottom: -17px;
        }
      }
    }
  }
  &.finish-modal {
    .content-modal {
      max-width: 810px;
      .create-finish {
        max-width: 564px;
        margin-left: auto;
        margin-right: auto;
        .title {
          font-size: 15px;
          text-align: center;
          padding-top: 32px;
          font-weight: bold;
          padding-bottom: 39px;
          color: #414a55;
        }
        .desc {
          text-align: center;
          max-width: 523px;
          margin-left: auto;
          margin-right: auto;
          font-size: 15px;
          margin-bottom: 30px;
          color: #414a55;
        }
      }
    }
  }
  &.important-modal {
    color: #414a55;
    &.views-modal {
      .content-modal {
        max-width: 944px;
        .views-important {
          padding-top: 15px;
          .head {
            .title {
              text-transform: uppercase;
              text-align: center;
              font-weight: bold;
              font-size: 21px;
            }
          }
          .content {
            padding-top: 52px;
            .views-slide {
              overflow: hidden;
              margin: 0 -20px;
              padding-left: 30px;
              padding-right: 30px;
              .slide-content {
                max-width: 750px;
                margin-left: auto;
                margin-right: auto;
                .list__control {
                  position: absolute;
                  z-index: 1;
                  top: 50%;
                  width: 36px;
                  height: 36px;
                  background: transparent;
                  box-shadow: unset;
                  color: #00da6a;
                  padding: 0;
                  font-size: 26px;
                  line-height: 31px;
                  text-align: left;
                  &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 1px solid #26b876;
                    transform: translate(-50%, -50%) rotate(45deg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: -1;
                  }
                  &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: rgba(63, 77, 103, 0.76);
                    z-index: -1;
                  }
                  &.prev__btn {
                    left: 0;
                    transform: translate(-50%, -50%);
                    padding-left: 11px;
                  }
                  &.next__btn {
                    right: 0;
                    transform: translate(50%, -50%);
                    padding-left: 15px;
                  }
                }
                .slick-list {
                  overflow: unset;
                  .slick-slide {
                    opacity: 0;
                    transition: all 0.3s;
                    &.slick-active {
                      opacity: 1;
                    }
                  }
                }
                .views-img {
                  background: #fff;
                  height: 224px;
                  position: relative;
                  .img {
                    border: 1px solid #b6cbdc;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                    &:hover {
                      border: 1px solid transparent;
                      width: calc(~"100% + 6px");
                      height: calc(~"100% + 30px");
                      z-index: 1;
                      img {
                        padding: 5px;
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                      }
                      .bottom__style,
                      .top__style {
                        height: 21px;
                        &:after,
                        &:before {
                          width: 23px;
                        }
                      }
                    }
                    .top__style {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 0;
                      transition: all 0.3s;
                      overflow: hidden;
                      z-index: 1;
                      &:after {
                        content: "";
                        height: 100%;
                        width: 0;
                        border-top: 2px solid #00da6a;
                        border-left: 2px solid #00da6a;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        transition: all 0.3s;
                      }
                      &:before {
                        content: "";
                        height: 100%;
                        width: 0;
                        border-top: 2px solid #00da6a;
                        border-right: 2px solid #00da6a;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        transition: all 0.3s;
                      }
                    }
                    .bottom__style {
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 0;
                      transition: all 0.3s;
                      overflow: hidden;
                      z-index: 1;
                      &:after {
                        content: "";
                        height: 100%;
                        width: 0;
                        border-bottom: 2px solid #00da6a;
                        border-left: 2px solid #00da6a;
                        transition: all 0.3s;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: block;
                      }
                      &:before {
                        content: "";
                        height: 100%;
                        width: 0;
                        border-bottom: 2px solid #00da6a;
                        border-right: 2px solid #00da6a;
                        transition: all 0.3s;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: block;
                      }
                    }

                    img {
                      padding: 3px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      transition: all 0.3s;
                      background: #fff;
                    }
                  }
                }
              }
            }
            .views-info {
              padding-top: 59px;
              max-width: 886px;
              margin-left: auto;
              margin-right: auto;
              color: #002a41;
              .info-item {
                position: relative;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                padding: 22px 20px;
                padding-bottom: 16px;
                min-height: 175px;
                overflow: hidden;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 5px;
                  background: linear-gradient(to right, #0db5e4, #27eca4);
                }
                .info-head {
                  padding-bottom: 5px;
                  .title {
                    text-transform: uppercase;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 15px;
                  }
                  .star__rate {
                    display: inline-block;
                    padding-left: 35px;
                    position: relative;
                    top: -4px;
                    color: #ffc400;
                  }
                }
                .info-content {
                  .desc {
                    margin: 0 0 5px;
                    span {
                      display: inline-block;
                      min-width: 92px;
                      padding-right: 15px;
                    }
                  }
                }
              }
            }
            .views-comment {
              padding-top: 32px;
              .comment-head {
                .title {
                  text-align: center;
                  text-transform: uppercase;
                  font-size: 21px;
                }
              }
              .comment-content {
                max-width: 675px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 37px;
                .comment-item {
                  position: relative;
                  margin-left: 42px;
                  margin-bottom: 18px;
                  max-width: 600px;
                  .img {
                    position: absolute;
                    width: 89px;
                    height: 89px;
                    border-radius: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 0;
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 50%;
                      padding: 2px;
                      object-fit: cover;
                      box-shadow: 0 0 10px rgba(1, 24, 112, 0.15);
                    }
                  }
                  .text {
                    padding-left: 75px;
                    box-shadow: 0 0 10px rgba(1, 24, 112, 0.15);
                    min-height: 146px;
                    padding-top: 18px;
                    padding-right: 20px;
                    position: relative;
                    color: #71859c;
                    &:after {
                      content: "";
                      display: block;
                      position: absolute;
                      width: 32px;
                      height: 30px;
                      background-image: url(../../../../static/images/icon_comment.gif);
                      top: 8px;
                      left: 36px;
                      background-repeat: no-repeat;
                    }
                    &:before {
                      content: "";
                      display: block;
                      position: absolute;
                      width: 32px;
                      height: 30px;
                      background-image: url(../../../../static/images/icon_comment.gif);
                      bottom: 15px;
                      right: 9px;
                      background-repeat: no-repeat;
                      transform: rotate(180deg);
                    }
                    .star__rate {
                      margin-bottom: 7px;
                      color: #ffc90e;
                      i {
                        margin-left: 3px;
                      }
                    }
                    .desc {
                      margin-bottom: 6px;
                      font-style: italic;
                    }
                    .name {
                      margin-left: 69px;
                      font-weight: bold;
                      font-size: 18px;
                      position: relative;
                      &:after {
                        position: absolute;
                        top: 50%;
                        content: "";
                        height: 5px;
                        width: 60px;
                        right: 100%;
                        background: linear-gradient(to right, #27eca4, #0db5e4);
                        transform: translate(-4px, -50%);
                      }
                    }
                  }
                }
                .show__more {
                  margin-top: 35px;
                  display: table;
                  margin-left: auto;
                  margin-right: auto;
                  width: 100%;
                  max-width: 207px;
                }
              }
            }
          }
          .chat-content {
            max-width: 700px;
            background: #efefef;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 1px;
            margin-top: 30px;
          }
          .button {
            padding-top: 29px;
            text-align: center;
          }
        }
      }
    }
    &.receive-job {
      .deal-important {
        .head {
          .title {
            text-transform: uppercase;
            font-size: 25px;
            padding-top: 20px;
          }
        }
        .content {
          max-width: 478px;
          padding-top: 20px;
          .desc {
            margin-bottom: 12px;
          }
          .config-pay {
            padding-bottom: 14px;
            .item {
              &.item-value {
                .css-2b097c-container {
                  left: unset;
                  right: 4px;
                }
                .modal__input {
                  padding-left: 10px;
                  padding-right: 51px;
                }
              }
            }
          }
          .radio-content {
            padding-top: 14px;
            padding-bottom: 15px;
            text-align: left;
            .radio__item {
              margin: 0 34px;

              &:before {
                width: 14px;
                height: 14px;
                background: #fff;
                left: 1px;
                top: 3px;
                border-radius: 4px;
                border: 1px solid #418cbf;
              }
              &:after {
                width: 10px;
                height: 10px;
                left: 3px;
                top: 5px;
                border-radius: 3px;
              }
            }
          }
          .modal__textarea {
            margin-top: 11px;
          }
        }
      }
    }
    &.receive-confirm {
      .review-important, .yesno-important, .protest-important, .notification-important {
        .head {
          .title {
            font-size: 20px;
          }
          .desc {
            margin-top: -10px;
            font-size: 15px;
          }
        }
        .content {
          max-width: 605px;
          text-align: left;
          .desc {
            font-size: 15px;
            margin-bottom: 6px;
            color: #7a96b3;
            span {
              font-weight: bold;
              color: #3d4e6a;
              padding-right: 5px;
              display: inline-block;
            }
          }
          .otp-content {
            padding-top: 11px;
            .otp__title {
              font-size: 14px;
              color: #3d4e6a;
              margin-bottom: 8px;
            }
            .otp-form {
              position: relative;
              max-width: 357px;
              margin-left: auto;
              margin-right: auto;
              .modal__input {
                height: 35px;
                display: block;
                border-radius: 30px;
              }
              .modal__btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                min-width: 100px;
              }
            }
          }
        }
        .button {
          padding-top: 23px;
          margin-bottom: 22px;
          .modal__btn {
            min-width: 124px;
            margin: 3px;
          }
        }
        .note {
          max-width: 722px;
          margin-left: auto;
          margin-right: auto;
          text-align: justify;
          font-style: italic;
          margin-bottom: -52px;
          color: #e30c0c;
        }
      }
    }
    .modal__btn {
      min-width: 136px;
      margin: 0 10px;
      background: linear-gradient(to right, #0db5e4, #27eca4);
      border-radius: 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      color: #fff;

      &.red__btn {
        background: #ff0000;
        &:hover {
          background: #ff0808;
        }
      }
      &.gray__btn {
        background: #575b5a;
        &:hover {
          background: #232525;
        }
      }
      &:hover {
        background: linear-gradient(to right, #27eca4, #0db5e4);
      }
    }
    .radio-content {
      padding-top: 7px;
      padding-bottom: 15px;
      text-align: center;
      .radio__item {
        display: inline-block;
        cursor: pointer;
        padding-left: 24px;
        margin: 0 23px;
        position: relative;
        color: #475e7b;
        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 12px;
          height: 12px;
          background: #d7e5f4;
          left: 6px;
          top: 4px;
          border-radius: 50%;
        }
        &.active {
          &:after {
            content: "";
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            left: 8px;
            top: 6px;
            background: #a8bbd1;
            border-radius: 50%;
          }
        }
      }
    }
    .content-modal {
      max-width: 810px;
      .delete-important {
        max-width: 564px;
        margin-left: auto;
        margin-right: auto;
        .title {
          font-size: 15px;
          text-align: center;
          padding-top: 32px;
          font-weight: bold;
          padding-bottom: 39px;
          color: #414a55;
        }
        .desc {
          text-align: center;
          max-width: 523px;
          margin-left: auto;
          margin-right: auto;
          font-size: 15px;
          margin-bottom: 30px;
          color: #414a55;
        }
        .button {
          text-align: center;
        }
      }
    }
    .deal-important {
      .head {
        .title {
          font-size: 17px;
          text-align: center;
          font-weight: bold;
          padding-top: 7px;
          padding-bottom: 20px;
          color: #414a55;
          .blue {
            color: #0084ff;
          }
        }
      }
      .content {
        color: #525d6b;
        max-width: 437px;
        margin-left: auto;
        margin-right: auto;
        .content-top {
          text-align: center;
          font-weight: bold;
          .desc {
            margin-bottom: 5px;
            font-size: 14px;
            .red {
              color: #e70000;
            }
            .blue {
              color: #0072ff;
            }
          }
        }

        .desc {
          font-weight: bold;
          margin-bottom: 0px;
        }
        .otp-form {
          position: relative;
          margin-top: 9px;
          margin-bottom: 20px;
          .otp__btn {
            position: absolute;
            top: 0;
            right: 0;
            background: #476784;
            color: #fff;
            border-radius: 5px;
            &:hover {
              background: #2e4961;
            }
          }
        }
        .config-pay {
          position: relative;
          padding-bottom: 23px;
          .item {
            position: relative;
            margin-bottom: 10px;
            &.item-value {
              .css-2b097c-container {
                position: absolute;
                top: 3px;
                width: 68px;
                height: 29px;
                left: 4px;
                .css-1pahdxg-control,
                .css-yk16xz-control {
                  height: 29px;
                  min-height: 29px;
                  background: #60738a;
                }
                svg,
                .css-w8afj7-Input,
                .css-1uccc91-singleValue {
                  color: #fff;
                }
                svg {
                  width: 15 !important;
                }
                .css-tlfecz-indicatorContainer,
                .css-1gtu0rj-indicatorContainer {
                  padding: 0 5px !important;
                  padding-left: 0 !important;
                }
                .css-1okebmr-indicatorSeparator {
                  display: none;
                }
                .css-1hwfws3 {
                  padding: 0 4px;
                }
              }
              .modal__input {
                padding-left: 80px;
              }
            }
          }

          .unit {
            position: absolute;
            top: 3px;
            right: 20px;
            line-height: 29px;
            padding: 0 5px;
            border-radius: 4px;
            color: #476784;
            &.unit__bg {
              right: 5px;
              color: #fff;
              background: #b0c8e2;
              text-align: center;
            }
          }
        }
        .modal__textarea {
          height: 55px;
          margin-top: -3px;
          background: #ddeafa;
          border: none;
        }
      }
      .button {
        text-align: center;
        padding-top: 21px;
        margin-bottom: -26px;
        position: relative;
        z-index: 1;
      }
    }
    .review-important, .yesno-important, .protest-important {
      .head {
        .title {
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-size: 25px;
          padding-bottom: 10px;
        }
        .desc {
          text-align: center;
          margin-top: -18px;
          margin-bottom: 30px;
          color: #737a83;
        }
      }
      .content {
        max-width: 589px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &.left{
          text-align: left;
          .title-desc{
            font-weight: bold;
            color: #3d4e6a;
          }
          .note{
            color: red;
            font-style: italic;
          }
          .button-protest{
            margin-bottom: 35px;
            button{
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
              transition: .5s;
              color: #fff;
              margin-bottom: 10px;
              margin-right: 20px;
              &.btn-red-down{
                background: #ff2e2e;
                &:hover{
                  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) inset;
                }
              }
            }
          }
          .display-flex{
            display: flex;
            align-items: center;
            margin: 10px 0 ;
            span{
              margin-left: 20px;
            }
            .item_up{
              cursor: pointer;
              background: #7792c1;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
              width: 200px;
              height: 34px;
              display: flex;
              border-radius: 5px;
              color: #fff;
              font-weight: normal;
              padding: 5px 10px;
              justify-content: center;
              &:hover{
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) inset;
              }
              .up-protest{
                margin-right: 11px;
                width: 18px;
              }
              .text {
                font-size: 13.5px;
                font-weight: lighter;
                white-space: nowrap;
                margin-top: 2px;
              }
              input[type="file"] {
                display: none;
              }
            }
          }
        }
        .otp-item{
          text-align: left;
          .form-item{
            position: relative;
            .otp__btn{
              position: absolute;
              border-radius: 2px;
              right: -10px;
              background: #4b6c8b;
            }
          }
        }
        .rate-content {
          padding-top: 4px;
          padding-bottom: 12px;
          .rate-star {
            padding-top: 4px;
            i {
              color: #fec200;
              font-size: 23px;
            }
          }
        }
        .modal__textarea {
          height: 55px;
          margin-top: -3px;
          background: #ddeafa;
          border: none;
        }
      }
      .button {
        text-align: center;
        padding-top: 21px;
        margin-bottom: -26px;
        position: relative;
        z-index: 1;
      }
    }
    .protest-important{
      .content{
        max-width: 657px;
        .radio-content {.radio__item{
          margin: 0 10px;
        }}
      }
    }
    .dispute-important {
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      .head {
        .title {
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-size: 25px;
          padding-bottom: 15px;
        }
        .desc {
          text-align: justify;
        }
      }
      .content {
        margin-top: 34px;
        .desc {
          text-align: left;
          font-weight: bold;
          font-size: 17px;
          margin-bottom: 16px;
        }
        .content-limit {
          max-width: 563px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 5px;
        }
        .radio-content {
          .radio__item {
            margin: 0;
            &:nth-child(2) {
              margin: 0 37px;
            }
          }
        }
        .modal__textarea {
          height: 55px;
          margin-top: -3px;
          background: #ddeafa;
          border: none;
        }
        .uploadFile {
          padding-top: 12px;
          .desc {
            .upload__base {
              background: #7792c1;
              color: #fff;
              width: 104px;
              display: inline-block;
              position: relative;
              text-align: center;
              font-weight: normal;
              font-size: 14px;
              padding: 9px 10px;
              border-radius: 4px;
              margin-right: 12px;
              img {
                padding-right: 8px;
              }
              input {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }
            .note {
              font-size: 14px;
              color: #e40a08;
              font-weight: normal;
              font-style: italic;
            }
            .file__value {
              font-size: 13px;
            }
          }
        }
      }
      .button {
        text-align: center;
        padding-top: 13px;
        margin-bottom: -26px;
        position: relative;
        z-index: 1;
      }
    }
    .cancel-contract {
      max-width: 626px;
      margin-left: auto;
      margin-right: auto;
      .head {
        .title {
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-size: 25px;
          margin-bottom: 25px;
        }
        .desc {
          text-align: center;
        }
      }
      .content {
        max-width: 555px;
        margin-left: auto;
        margin-right: auto;
        .otp-item {
          max-width: 435px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 27px;
          padding-bottom: 21px;
          label {
            font-size: 16px;
          }
          .form-item {
            position: relative;
          }
          .modal__input {
            border-radius: 30px;
          }
          .otp__btn {
            position: absolute;
            top: 3px;
            right: 3px;
            height: 29px;
            line-height: 29px;
            padding: 0 21px;
            border-radius: 30px;
            margin: 0;
          }
        }
        .modal__textarea {
          height: 58px;
          border: none;
          background: #ddeafa;
        }
      }
      .button {
        text-align: center;
        padding-top: 26px;
        margin-bottom: -16px;
        .modal__btn {
          &.orange__btn {
            background: #d55a0a;
            &:hover {
              background: #c45107;
            }
          }
        }
      }
    }
    &.register-modal {
      .content-modal {
        .body-modal {
          .desc {
            font-size: 20px;
            text-align: center;
            margin: 30px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .office-page {
    &:after {
      height: 378px;
    }
    .office-container {
      .office-content {
        .wallet-info {
          position: relative;
          float: none;
          overflow: hidden;
          padding: 0 2px;
          display: table;
          margin-left: auto;
          margin-bottom: 30px;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .office-page {
    .office-container {
      .office-content {
        .bs-tab {
          .tab-control {
            .control-list {
              .control-list__item {
                .control-item {
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .office-page {
    &:after {
      height: 470px;
    }
    .office-container {
      .office-content {
        padding-top: 80px;
        .bs-tab {
          .tab-control {
            .control-list {
              .control-list__item {
                min-width: unset;
                .control-item {
                  padding-top: 10px;
                  padding-bottom: 10px;

                  .img {
                    display: none;
                  }
                  .text {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .office-page {
    padding-top: 154px;
    .office-container {
      .office-content {
        .bs-tab {
          .tab-control {
            .control-list {
              .control-list__item {
                margin-bottom: 5px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
  .bs-modal {
    &.create-modal {
      .content-modal {
        .create-job {
          .content {
            .part2 {
              .pay-type {
                .pay-item {
                  margin-bottom: 30px;
                  max-width: 420px;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
              .pay-budget {
                .item {
                  margin-bottom: 10px;
                }
              }
              .help-info {
                .help-item {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
    &.finish-modal {
      .content-modal {
        .create-finish {
          .title {
            font-size: 13px;
            padding-bottom: 14px;
          }
        }
        .button {
          .modal__btn {
            min-width: 112px;
            margin: 0 5px;
          }
        }
      }
    }
    &.important-modal {
      .content-modal {
        .delete-important {
          .title {
            font-size: 13px;
            padding-bottom: 14px;
          }
        }
        .button {
          .modal__btn {
            min-width: 112px;
            margin: 0 5px;
          }
        }
      }
      .dispute-important {
        .content {
          .radio-content {
            text-align: left;
            .radio__item {
              margin-bottom: 15px;
              &:nth-child(2) {
                margin: 0;
                margin-bottom: 15px;
                margin-left: 20px;
              }
            }
          }
        }
      }
      &.views-modal {
        .content-modal {
          .views-important {
            .content {
              .views-info {
                .info-item {
                  padding-left: 20px;
                  padding-right: 20px;
                }
              }
            }
          }
        }
      }
     
    }
  }
}
@media only screen and (max-width: 479px) {
  .office-page {
    padding-top: 154px;
    &:after {
      height: 666px;
    }
    .office-container {
      .office-content {
        padding-top: 117px;
        .wallet-info {
          margin-left: 0;
          display: block;
          .wallet-item {
            float: none;
            margin-right: 0;
            .value {
              width: 100%;
            }
          }
        }
        .bs-tab {
          .tab-control {
            .control-list {
              .control-list__item {
                margin-bottom: 5px;
                border-radius: 5px;
                .control-item {
                  padding: 0px 10px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  justify-content: center;
                  .img {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .bs-modal {
    &.important-modal {
      .deal-important {
        .content {
          .config-pay {
            .item {
              margin-bottom: 10px;
            }
          }
          .radio-content {
            .radio__item {
              margin: 0 10px;
            }
          }
        }
      }
      .dispute-important {
        .content {
          .radio-content {
            .radio__item {
              display: block;
              &:nth-child(2) {
                margin-left: 0;
              }
            }
          }
        }
      }
      &.views-modal {
        .content-modal {
          .views-important {
            .content {
              .views-comment {
                .comment-content {
                  .comment-item {
                    margin-left: 0;

                    .img {
                      position: relative;
                      top: 0;
                      left: 0;
                      transform: unset;
                      margin-left: auto;
                      margin-right: auto;
                    }
                    .text {
                      padding-left: 15px;
                      padding-right: 15px;
                      padding-top: 40px;
                      padding-bottom: 20px;
                      &:after {
                        left: 8px;
                      }
                    }
                  }
                }
              }

              .views-info {
                .info-item {
                  padding-left: 15px;
                  padding-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
