@global-color : #616161;
@header-color : #ffffff;
@background-color-body : #ffffff;
@background-color-light-4: #bbdefb;
@background-color-light-3: #90caf9;
@background-color-main : #2196f3;
@background-color-dark : #1e88e5;
@animation-delay : 0.5s;

.mb-0{
  margin-bottom: 0 !important;
}
.content {
  .item {
    margin-bottom: 12px;
    .title_item {
      font-size: 14px;
      color: #465773;
      font-weight: 600;
    }
  }
  .btn-add{
    padding: 7px 5px;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(to right, #0eb2e8, #31f0a2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    height: 35px;
    text-align: center;
  }
  .field_active {
    // select
    .css-2b097c-container {
      max-width: 265px;
      padding: 4.8px 0px;

      .css-yk16xz-control {
        min-height: 30px;
        height: 35px;
        font-size: 13px;
        text-align: center;
        padding: 0px 0px 3px 11px;

        .css-1hwfws3 {
          height: 100%;

          .css-1uccc91-singleValue {
            color: #576588;
          }

          .css-w8afj7-Input {
            display: none;
          }
        }

        .css-1g48xl4-IndicatorsContainer {
          height: 100%;

          span.css-1okebmr-indicatorSeparator {
            display: none;
          }
        }
      }
    }

    // .css-2b097c-container {
    //     position  : relative;
    //     box-sizing: border-box;
    //     .css-yk16xz-control,
    //     .css-1pahdxg-control {
    //         min-height  : unset;
    //         height      : 32px;
    //         width       : 100%;
    //         margin-left : -15px;
    //         margin-right: 0px;
    //         .css-1hwfws3 {
    //             height    : 32px;
    //             min-height: 32px;
    //             overflow  : unset;
    //             .css-1uccc91-singleValue {
    //                 font-size: 12px;
    //             }
    //             .css-w8afj7-Input {
    //                 display: none;
    //             }
    //         }
    //         .css-1g48xl4-IndicatorsContainer {
    //             height: 100%;
    //         }
    //     }
    // }
    // select
  }

  .career {
    .content_career {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;

      .item_career {
        margin-bottom: 11px;
        position: relative;
        min-width: 100px;
        padding-right: 40px;
        padding-left: 15px;

        input {
          height: 0px;
          width: 0px;
        }

        input:checked ~ .checkbox_career:after {
          display: block;
        }

        .checkbox_career {
          height: 11px;
          width: 11px;
          border: 1px solid #408fbe;
          border-radius: 3px;
          position: absolute;
          margin-top: 3px;
          left: -3px;

          &::after {
            position: absolute;
            content: "\2713";
            height: 12px;
            width: 12px;
            top: -5px;
            display: none;
          }
        }

        span.item_career_name {
          margin-left: 12px;
          font-size: 13px;
          color: #435873;
          font-weight: 100;
        }
      }
    }
  }

  .link_social {
    .content_link_social {
      padding-top: 14px;
      max-width: 821px !important;
      .table-tools{
        margin: 10px 0;
        text-align: right;
        .table__btn{
          min-width: 96px;
          border-radius: 20px;
          color: #fff;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          margin-left: 10px;
          white-space: nowrap;
          display: inline-block;
          padding: 7px 20px;
          text-align: center;
          &.red__btn {
            background: #dc0a0a;
            &:hover {
              background: #af0404;
          }
          }
          &.blue__btn {
            background: #0a86d5;
            &:hover {
              background: #075f97;
            }
          } 
          &.green__btn {
            background: #0ad599;
            &:hover {
              background: #07973e;
            }
          }
        }
      }
      .table{
        thead tr{
          background: #60738a;
          color: whitesmoke;
          th{
            text-align: center;
          }
        }
        tbody{
          tr{
            td{
              vertical-align: middle !important ;
              text-align: center;
            }
          }
        }
      }
      .item_social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
        .checkbox{
          display: inline-block;
          width: 14px;
          height: 14px;
          border: 1px solid #a8bbd1;
          cursor: pointer;
          &.active:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(#0db5e4, #27eca4);
            width: 10px;
            height: 10px;
          }
        }
        label{
          white-space: nowrap;
          margin-right: 10px;
        }
        .input_link_social {
          height: 35px;
          border-color: #a9bbd1;
          box-shadow: inset 0px 0px 2px #00000036;
        }
      }
    }
  }

  .set_up_time {
    display: flex;
    padding-top: 5px;
    margin-bottom: 38px;

    .btn_set_time {
      button {
        width: 196px;
        border-radius: 25px;
        background-image: linear-gradient(45deg, #29efa0, #0bb2e6);
        color: white;
        font-size: 13px;
        box-shadow: 9px 8px 20px 4px #00000024;
        font-weight: normal;
        line-height: 20px;
      }

      .bs-modal {
        .modal-frame {
          .content-modal {
            max-width: 900px;
            border-radius: 13px;
            .body-modal {
              border-bottom: unset;

              .main-calendar {
                height: 100%;
                display: flex;
                flex-wrap: wrap;

                .calendar-header {
                  color: #ffffff;
                  margin-top: -20px;
                  position: relative;
                  z-index: 99;
                  width: 100%;
                  .calendar-control {
                    max-width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                  }

                  .header-text {
                    height: 32.1px;
                    border: 1px solid #10bcdb;
                    border-radius: 3px;
                    padding: 0px 5px;
                    background: #fff;
                    position: relative;

                    .today-label {
                      font-size: 20px;
                      margin-top: 0px;
                      color: #10bcdb;
                      z-index: 99;
                      position: absolute;
                      cursor: pointer;
                      left: 7px;
                      margin-left: 0;

                      &:hover {
                        cursor: pointer;
                        color: @background-color-dark;
                      }
                    }

                    .month-label {
                      margin-top: 0px;
                      color: black;
                      font-family: cabin;
                      margin-left: 30px;
                      font-size: 13px;
                      justify-content: left;
                    }
                  }

                  //////
                  .time_end {
                    .content {
                      padding-left: 34px;
                    }
                  }
                  .content {
                    position: relative;
                    padding-left: 86px;
                    .title {
                      color: black;
                      font-size: 14px;
                      position: absolute;
                      top: 6px;
                      left: 0;
                    }

                    .input_time {
                      select {
                        border: 1px solid #10bcdb;
                        padding: 6px 0px;
                        font-size: 12px;
                        height: 32px;
                        width: 100%;
                        margin-bottom: 10px;
                        padding-left: 10px;
                      }
                    }
                  }

                  .btn_time {
                    background-image: linear-gradient(
                      to left,
                      #0cb4e3,
                      #28eca4
                    );
                    font-size: 13.3px;
                    margin-bottom: 10px;
                    color: white;
                    font-family: cabin;
                    text-align: center;
                    height: 32px;
                    padding: 6px 5px;
                    border-radius: 3px;
                    width: 100%;
                    cursor: pointer;
                    &.delete__time {
                      background: red;
                    }
                    &.not-allow {
                      background: red;
                      cursor: not-allowed;
                    }
                  }

                  .apply_btn {
                    position: relative;

                    &::after {
                      position: absolute;
                      content: "\2713";
                      height: 15px;
                      width: 15px;
                      background-color: #005fff;
                      top: -7px;
                      border-radius: 100%;
                      right: -6px;
                      font-size: 11px;
                      line-height: 15px;
                    }
                  }

                  .control_calendar {
                    margin-bottom: 10px;
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                    .control {
                      i {
                        color: black;
                      }

                      .fa-angle-left {
                        transform: rotate(90deg);
                      }

                      .fa-angle-right {
                        transform: rotate(90deg);
                      }
                    }
                  }

                  .days-header {
                    width: 100%;
                    margin-top: 30px;

                    .day-name {
                      font-size: 14.5px;
                      color: #246ffe;

                      &:last-child,
                      &:nth-last-child(2) {
                        color: red;
                      }
                    }
                  }

                  .button-container {
                    width: 100%;
                    height: 30%;
                    background-color: @background-color-main;

                    .event-button {
                      flex-grow: 1;
                      display: flex;
                      height: 100%;
                      align-items: center;
                      justify-content: center;

                      &:hover {
                        background-color: #fff;
                        color: @background-color-main;
                      }
                    }
                  }
                }

                .days-container {
                  width: 100%;
                  height: 70%;
                  background: @background-color-body;

                  .week {
                    height: 15%;
                  }
                }

                .day-events {
                  position: relative;
                  width: 100%;
                  height: 70%;
                  background-color: @background-color-body;
                  font-size: 1.2em;

                  .event-container {
                    width: 100%;
                    text-align: center;
                    display: flex;

                    &:hover {
                      cursor: pointer;
                    }

                    .animated-time {
                      width: 30%;
                    }

                    .animated-title {
                      width: 70%;
                    }

                    .event-attribute {
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      overflow: hidden;
                      box-sizing: border-box;
                      padding: 5px;
                    }
                  }
                }
              }

              ////
              .box {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                height: 100%;
                transition: all 0.4s ease-in-out 0s;

                &.arrow {
                  &:hover {
                    background-color: white;
                    cursor: pointer;
                    color: @background-color-dark;
                    transition: all 0.2s ease-in-out 0s;
                  }
                }
              }

              .day {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                height: 50px;
                flex-wrap: wrap;
                position: relative;
                &.has-events {
                  .see_more {
                    &.active {
                      position: absolute;
                      left: 50%;
                      min-width: 100%;
                      background-color: #fff;
                      border-radius: 3px;
                      padding: 0 5px;
                      align-items: center;
                      justify-content: center;
                      z-index: 99;
                      top: 100%;
                      border: 1px solid #90caf9;
                      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
                      text-align: left;
                      transform: translate(-50%, 3px);
                      &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 100%;
                        border-bottom: 6px solid #90caf9;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        left: 50%;
                        transform: translateX(-50%);
                      }
                    }
                    &.one-child {
                      display: none;
                    }
                    .dis_item_period {
                      margin: 7px 0;
                      text-align: center;
                    }
                  }
                }

                .day-number {
                  width: 80%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  padding-top: 10px;
                  border: 1px solid @background-color-body;
                  box-sizing: border-box;
                  position: relative;
                  cursor: pointer;
                  &.chose-time {
                    z-index: 10;
                  }
                }

                .display_event {
                  font-size: 12px;
                  margin-top: -22px;
                }
                .dis_item_period {
                  position: relative;
                  .value {
                    margin: 0;
                    background: #108ef5;
                    padding: 0 8px;
                    border-radius: 2px;
                    color: #fff;
                    line-height: 14px;
                    font-size: 11px;
                    white-space: nowrap;
                  }
                  .delete__time {
                    position: absolute;
                    top: -4px;
                    z-index: 1;
                    cursor: pointer;
                    background: #fff;
                    color: red;
                    line-height: 10px;
                    border-radius: 50%;
                    right: -4px;
                    font-size: 11px;
                  }
                }

                .btn_see_more {
                  position: absolute;
                  right: 1px;
                  top: 1px;
                  color: #fff;
                  cursor: pointer;
                  height: 15px;
                  width: 15px;
                  background: #0db6e0;
                  text-align: center;
                  font-size: 10px;
                  line-height: 15px;
                  border-radius: 50%;
                  &.one-child {
                    display: none;
                  }
                }

                &:hover {
                  .day-number {
                    cursor: default;
                    border: 1px solid #90caf9;
                    transition: background-color 0.2s ease-in-out 0s;
                  }
                  .display_event {
                    .dis_item_period {
                      color: @background-color-body;
                      z-index: 1;
                      position: relative;
                    }
                  }
                }

                &.today {
                  .day-number {
                    border: 1px solid #1e88e5;
                    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    &.chose-time {
                      z-index: 11;
                    }
                  }
                  .day-number {
                    // background-color: @background-color-light-3;
                    // color           : @background-color-dark;
                    border: 1px solid @background-color-light-3;
                  }
                }

                &.has-events {
                  .day-number {
                    color: @background-color-dark;
                    font-weight: bold;
                  }
                }

                // &.selected {
                //   .day-number {
                //   }
                // }

                &.different-month {
                  opacity: 0.5;
                }
              }

              .calendar-rectangle {
                width: 100%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                color: @global-color;
                font-size: 1em;
                font-family: "Dosis", sans-serif;
                overflow: hidden;
                box-shadow: 0px 0px 50px #888888;

                @media (min-width: 576px) {
                  width: 70%;
                }

                @media (min-width: 768px) {
                  width: 50%;
                  font-size: 1em;
                }

                @media (min-width: 992px) {
                  width: 40%;
                  font-size: 1em;
                }

                @media (min-width: 1200px) {
                  width: 30%;
                  font-size: 1em;
                }

                @media (min-width: 1300px) {
                  width: 20%;
                }

                &:before {
                  content: "";
                  display: block;
                  padding-top: 120%;
                }
              }

              .calendar-content {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }

              .btn__submit {
                background-image: linear-gradient(to left, #0cb4e3, #28eca4);
                font-size: 13.3px;
                color: white;
                font-family: cabin;
                text-align: center;
                margin: 0px 5px;
                height: 34px;
                margin-top: 20px;
                padding: 8px 62px;
                border-radius: 30px;
                cursor: pointer;
                transform: translateX(-50%);
                left: 50%;
                position: relative;
              }
            }

            .footer-modal {
              display: none;
            }
          }
        }
      }
    }

    .note {
      color: #246ffe;
      font-size: 12px;
      margin-top: 8px;
      margin-left: 15px;
    }
  }

  .set_up_salary {
    margin-top: 23px;

    .content_set_up_salary {
      margin: 12px 201px 0px 205px;

      .content {
        box-shadow: 0px 0px 5px 4px #0000001f;
        border-radius: 5px;
        padding-bottom: 20px;

        .title {
          padding-top: 16px;
          margin-left: 25px;
          font-size: 14px;
          position: relative;
          display: inline-block;

          &::after {
            position: absolute;
            content: "";
            background-image: url("../../../../static/images/set_up_salary_after.png");
            height: 15px;
            width: 25px;
            bottom: 0px;
            left: -25px;
            background-repeat: no-repeat;
          }
        }

        .list_set_up {
          margin-top: 24px;
          padding: 0 20px;
          max-width: 319px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 10px;
          .item_list {
            display: block;
            margin-bottom: 10px;
            justify-content: space-between;
            position: relative;
            padding-left: 83px;

            .item_name_career {
              margin-top: 7px;
              font-size: 13px;
              position: absolute;
              top: 0;
              left: 0;
            }

            .item_input_salary {
              position: relative;

              input[type="number"] {
                height: 35px;
                width: 100%;
              }

              .css-2b097c-container {
                position: absolute !important;
                top: 3px;
                width: 68px;
                height: 28px !important;
                right: 3px;
                .css-1pahdxg-control,
                .css-yk16xz-control {
                  height: 29px !important;
                  min-height: 29px !important;
                  background: #60738a;
                }
                svg,
                .css-1uccc91-singleValue {
                  color: #fff;
                }
                input,
                .css-w8afj7-Input {
                  height: 24px !important;
                  color: #fff;
                  margin-top: 0;
                }
                .css-tlfecz-indicatorContainer,
                .css-1gtu0rj-indicatorContainer {
                  padding: 0 5px !important;
                  padding-left: 0 !important;
                }
                .css-1okebmr-indicatorSeparator {
                  display: none;
                }
                .css-1g48xl4-IndicatorsContainer {
                  height: 28px !important;
                }
                .css-1hwfws3 {
                  padding: 0 4px;
                  height: 28px !important;
                  min-height: 28px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .city,
  .item_add_box {
    display: flex;
    margin-top: 50px;
    margin-left: 2px;

    .content_name_city,
    .item_add_box_content {
      margin-left: 55px;

      .display_city {
        display: flex;
        margin-top: -3px;
        flex-wrap: wrap;

        .name_city {
          position: relative;
          margin-right: 15px;
          background-color: #c7def0;
          padding: 3px 10px 0px 7px;
          border-radius: 5px;
          font-size: 12.9px;
          color: #016bff;
          height: 24px;
          margin-bottom: 13px;

          .close_city {
            position: absolute;
            right: -3px;
            top: -3px;
            background-color: red;
            color: white;
            border-radius: 50%;
            line-height: 10px;
            height: 12px;
            width: 12px;
            text-align: center;
            cursor: pointer;
          }
        }
      }

      input[type="text"] {
        height: 35px;
        max-width: 418px;
        border-color: #a9bbd1;
        box-shadow: inset 0px 0px 2px #00000036;

        &::placeholder {
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }

  .verify_career {
    margin-top: 12px;
    margin-left: 5px;
    .content_verify_career {
      margin: 0px 243px 0px 218px;
      padding-top: 25px;
      thead tr{
        background: #60738a;
        color: whitesmoke;
        th{
          text-align: center;
        }
      }
      tbody{
        tr{
          td{
            vertical-align: middle !important ;
            text-align: center;
          }
        }
      }
      .item {
        // border: 1px dotted #93bcdc;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 3px;
        margin-bottom: 0;
        .item_label {
          text-align: center;
        }

        label.item_icon {
          max-width: 100%;
          cursor: pointer;
          background-color: #7792c1;
          // margin: 8px 41px 0px 40px;
          // width: 135px;
          height: 50px;
          display: flex;
          border-radius: 5px;
          color: white;
          font-weight: normal;
          padding: 13px;

          .icon {
            margin-right: 5px;
          }

          .text {
            font-size: 18px;
          }

          input[type="file"] {
            display: none;
          }
        }

        .item_decribe {
          text-align: center;
          margin-top: 5px;
          font-size: 13px;
          color: #808b9d;
          margin-bottom: 10px;
        }
      }
    }
  }

  .skills {
    margin-top: 25px;

    .content_skills {
      margin-left: 22px;
    }
  }

  .btn_finish {
    width: 155px;
    margin-top: -10px;
    height: 35px;
    border-radius: 25px;
    margin-left: 2px;
    color: white;
    padding-top: 7px;
    font-size: 12px;
    background-image: linear-gradient(45deg, #29eda1, #0cb4e3);
    cursor: pointer;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}
.office-page {
  .office-container {
    .office-header {
      padding-left: 17px;
      margin-top: -4px;
      padding-bottom: 25px;
      .title {
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        padding-left: 14px;
        font-size: 14px;
        position: relative;
        top: 2px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 8px;
          left: 5px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #fff;
        }
      }
    }
    .office-content {
      .bs-tab {
        &.tab-register {
          .tab-container {
            position: relative;
            .tab-content {
              border-top-left-radius: 10px;
              .register-content {
                padding-left: 15px;
                padding-right: 15px;
                max-width: 1160px;
                margin-left: auto;
                margin-right: auto;
                .css-2b097c-container {
                  position: relative;
                  box-sizing: border-box;

                  .css-yk16xz-control,
                  .css-1pahdxg-control {
                    min-height: unset;
                    border: 1px solid #bfdae9;
                    border-radius: 3px;
                    width: 100%;
                    height: 35px;

                    .css-1hwfws3 {
                      height: 33px;
                      min-height: 33px;
                      overflow: unset;

                      .css-1uccc91-singleValue {
                        font-size: 13px;
                      }

                      .css-w8afj7-Input {
                        display: none;
                      }
                    }

                    .css-1g48xl4-IndicatorsContainer {
                      height: 100%;
                    }
                  }
                }
                input {
                  border: 1px solid #bfdae9;
                  border-radius: 3px;
                }
                .head {
                  text-align: center;
                  padding-top: 46px;
                  padding-bottom: 102px;
                  .title {
                    font-size: 21px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #254064;
                  }
                  .desc {
                    font-style: italic;
                    color: #59759c;
                  }
                }
                .content {
                  .register-form {
                    max-width: 580px;
                    // padding-top: 33px;
                    .item {
                      label {
                        font-weight: normal;
                        margin-bottom: 4px;
                        color: #445873;
                      }

                      .react-date-picker {
                        width: 100%;
                        .react-date-picker__clear-button {
                          display: none;
                        }
                        .react-date-picker__wrapper {
                          width: 100%;
                          border: 1px solid #b3d2e5;
                          border-radius: 3px;
                          color: #566489;
                          height: 35px;
                        }
                        input {
                          border: unset;
                          border-radius: 3px;
                        }
                        .react-calendar {
                          button {
                            padding: 10px 5px;
                          }
                        }
                        button {
                          box-shadow: unset;
                          border-radius: 0;
                          border: 1px solid transparent;
                          &:hover {
                            border: 1px solid #1087ff;
                            background: #fff;
                            color: #1087ff;
                          }
                        }
                        .react-date-picker__inputGroup {
                          padding: 0 7px;
                        }
                        .react-date-picker__calendar,
                        .react-date-picker__clock {
                          top: 100% !important;
                          bottom: unset !important;
                        }
                        .react-date-picker__inputGroup__divider,
                        .react-date-picker__button {
                          padding: 8px 5px;
                          padding-left: 0;
                          position: relative;
                          &.react-date-picker--open {
                            svg {
                              stroke: #fff;
                            }
                            &:hover,
                            &:focus {
                              stroke: #566489;
                            }
                          }
                          svg {
                            stroke: #566489;
                            width: 16px;
                          }

                          &.react-date-picker__clear-button {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                  .register-file {
                    margin-left: auto;
                    max-width: 470px;

                    input {
                      opacity: 0;
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      top: 0;
                      left: 0;
                    }
                    .file-item {
                      background: #a8bbd1;
                      position: relative;
                      padding-top: 58%;
                      border-radius: 3px;
                      margin-bottom: 20px;
                      .upload-result {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        img {
                          position: absolute;
                          max-width: 100%;
                          max-height: 100%;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                        }
                      }
                      .upload__cover {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        text-align: center;
                        .desc {
                          color: #fff;
                          padding-top: 10px;
                          margin-bottom: 0;
                        }
                      }
                    }
                  }
                  .register-receiveJob {
                    max-width: 1030px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -52px;
                    .content_item {
                      padding-left: 20px;
                      padding-right: 20px;
                      max-width: 936px;
                      margin-left: auto;
                      margin-right: auto;
                      margin-bottom: 18px;
                      &.content_set_up_salary {
                        max-width: 839px;
                      }
                      &.item_add_box_content {
                        margin-left: 41px;
                        min-width: 424px;
                      }
                      &.content_verify_career {
                        max-width: 807px;
                      }
                    }
                  }
                }
                .button {
                  text-align: center;
                  padding-top: 23px;
                  padding-bottom: 79px;
                  .register__btn {
                    position: relative;
                    color: white;
                    font-size: 15px;
                    height: 35px;
                    border-radius: 30px;
                    background-image: linear-gradient(180deg, #28eca4, #0eb7e0);
                    width: 143px;
                    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
                  }
                }
              }
              .tab_info_user {
                padding-left: 15px;
                padding-right: 15px;
                max-width: 1030px;
                margin-left: auto;
                margin-right: auto;

                .item_info_under {
                  margin-top: 16px;
                  &.size {
                    padding-top: 16px;
                  }

                  .title {
                    font-size: 16px;
                    margin-bottom: 12px;
                    font-weight: bold;
                    color: #445873;
                  }

                  .content {
                    .item_radio {
                      float: left;
                      margin-left: 28px;
                      min-width: 98px;
                      margin-top: 3px;

                      label {
                        font-size: 13px;
                        font-weight: normal;
                        color: #465d7c;
                        height: 20px;
                        display: flex;

                        input[type="radio"] {
                          margin-right: 9px;
                          margin-top: 0px;
                          position: relative;
                          top: 3px;
                        }
                      }
                    }

                    input[type="text"] {
                      height: 32px;
                    }
                  }
                }

                .info {
                  .item_info {
                    margin-top: 12px;
                    margin-left: 11px;

                    .title {
                      font-size: 13px;
                      margin-bottom: 2px;
                    }

                    .content {
                      input {
                        height: 32px;
                      }
                    }
                  }
                }

                .name_company {
                  margin-top: 13px;

                  .content_company {
                    margin-bottom: 9px;
                  }
                }

                .field {
                  .content_care {
                    margin-top: 14px;
                    display: flex;
                    flex-wrap: wrap;
                    // margin-left: 32px;

                    .item_care {
                      margin-bottom: 9.5px;
                      position: relative;
                      min-width: 100px;
                      padding-right: 33px;
                      padding-left: 15px;

                      input {
                        height: 0px;
                        width: 0px;
                      }

                      input:checked ~ .checkbox_care:after {
                        display: block;
                      }

                      .checkbox_care {
                        height: 11px;
                        width: 11px;
                        border: 1px solid #408fbe;
                        border-radius: 3px;
                        position: absolute;
                        margin-top: 3px;
                        left: -3px;

                        &::after {
                          position: absolute;
                          content: "\2713";
                          height: 12px;
                          width: 12px;
                          top: -5px;
                          display: none;
                        }
                      }

                      span.item_care_name {
                        margin-left: 7px;
                        font-size: 13px;
                        color: #435873;
                        font-weight: 100;
                      }
                    }
                  }
                }

                button.submit {
                  margin-top: 13px;
                  position: relative;
                  color: white;
                  font-size: 15px;
                  height: 32px;
                  border-radius: 30px;
                  background-image: linear-gradient(180deg, #28eca4, #0eb7e0);
                  width: 138px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  .office-page {
    .office-container {
      .office-content {
        .bs-tab.tab-register {
          .tab-container {
            .tab-content {
              .register-content {
                .head {
                  padding-bottom: 30px;
                }

                .content {
                  .register-receiveJob {
                    margin-top: 10px;
                  }
                  .register-form {
                    margin-left: auto;
                    margin-right: auto;
                  }
                  .register-file {
                    max-width: 580px;
                    margin-left: auto;
                    margin-right: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .content {
    .link_social {
      .content_link_social {
        .item_social {
          width: 100%;
          margin-bottom: 11px;
        }
        
      }
    }

    .set_up_salary {
      margin: 12px 5px 0px 5px;

      .content_set_up_salary {
        margin: 12px 65px 0px 195px;

        // .content {
        //   .list_set_up {
        //     .item_list {
        //     }
        //   }
        // }
      }
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .content {
    .set_up_time {
      margin-top: 10px;
      .btn_set_time {
        .bs-modal {
          .modal-frame {
            .content-modal {
              .body-modal {
                .day {
                  .day-number{
                    width: 95%;
                  }
                  .dis_item_period {.delete__time{
                    top: 2px;
                  }}
                }
              }
            }
          }
        }
      }
      span {
        margin-top: -8px;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .content {
    .item {
      .title_item {
        margin-left: 0px;
      }

      .content_item {
        margin-left: 50px;
      }
    }

    .link_social {
      .content_link_social {
        margin-left: 20px;
        padding-top: 14px;
        margin-right: 40px;

        .item_social {
          width: 100%;
          margin-bottom: 11px;
        }
        
      }
    }

    .set_up_time {
      margin-top: 10px;
      .btn_set_time {
        .bs-modal {
          .modal-frame {
            .content-modal {
              .body-modal {
                margin: 0 -5px;
                .main-calendar {
                  .calendar-header {
                    .content-button {
                      padding-left: 86px;
                    }
                    .content {
                      .input_time select {
                        padding-left: 0;
                      }
                    }
                  }
                }

                .day {
                  height: 42px;
                  .dis_item_period {
                    .delete__time {
                      top: 2px;
                    }
                  }

                  .btn_see_more {
                    &.one-child {
                      display: block;
                    }
                  }
                  &.has-events {
                    .display_event {
                      .dis_item_period {
                        .delete__time,
                        .value {
                          display: none;
                        }
                      }
                    }
                    .see_more {
                      &.one-child {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      span {
        margin-top: -8px;
      }
    }

    .set_up_salary {
      margin: 12px 0px 0px 0px;

      .content_set_up_salary {
        .content {
          margin-bottom: 20px;

          .list_set_up {
            .item_list {
              .item_input_salary {
                input[type="number"] {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .city,
    .item_add_box {
      flex-direction: column;

      .content_name_city,
      .item_add_box_content {
        margin-top: 15px;

        input[type="text"] {
          width: 90%;
        }
      }
    }

    .verify_career {
      .content_verify_career {
        margin: 0px 30px 0px 50px;
      }
    }
  }
  .office-page {
    .office-container {
      .office-content {
        .bs-tab.tab-register {
          .tab-container {
            .tab-content {
              .register-content {
                .head {
                  padding-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .office-page {
    .office-container {
      .office-content {
        .bs-tab.tab-register {
          .tab-container {
            .tab-content {
              .register-content {
                .head {
                  padding-bottom: 0px;
                  .title {
                    font-size: 16px;
                  }
                }
                .content {
                  .register-receiveJob {
                    .content_item {
                      &.item_add_box_content {
                        margin-left: 0;
                        min-width: 100%;
                      }
                    }
                  }
                  .register-receiveJob {
                    .content_item {
                      padding-left: 0;
                      padding-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    .item {
      .title_item {
        margin-left: 0px;
      }

      .content_item {
        margin-left: 10px;
      }
    }

    .link_social {
      .content_link_social {
        margin-left: 20px;
        padding-top: 14px;
        margin-right: 40px;

        .item_social {
          width: 100%;
          margin-bottom: 11px;
        }
      }
    }

    .set_up_time {
      margin-top: 10px;
      flex-direction: column;

      span {
        text-align: center;
      }
      .btn_set_time {
        > button {
          display: table;
          margin-left: auto;
          margin-right: auto;
        }
        .bs-modal {
          .modal-frame {
            .content-modal {
              .body-modal {
                .main-calendar {
                  .calendar-header {
                    .control_calendar {
                      width: 100%;
                      max-width: 100%;
                      padding-left: 90px;
                    }
                    .content-button,
                    .content {
                      padding-left: 90px !important;
                    }
                  }
                }
                .day {
                  height: 42px;
                  .dis_item_period {
                    .delete__time {
                      top: -6px;
                    }
                  }

                  .btn_see_more {
                    right: -4px;
                    height: 13px;
                    width: 13px;
                    font-size: 10px;
                    line-height: 13px;
                    &.one-child {
                      display: block;
                    }
                  }
                  &.has-events {
                    .display_event {
                      .dis_item_period {
                        .delete__time,
                        .value {
                          display: none;
                        }
                      }
                    }
                    .see_more {
                      &.one-child {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .set_up_salary {
      margin: 12px 0px 0px 0px;

      .content_set_up_salary {
        margin: 12px 0px 0px 0px;

        .content {
          margin-bottom: 20px;

          .list_set_up {
            padding-left: 15px;
            padding-right: 15px;
            .item_list {
              padding-left: 0;
              .item_name_career {
                position: relative;
                top: 0;
              }
              .item_input_salary {
                input[type="number"] {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .city,
    .item_add_box {
      flex-direction: column;

      .content_name_city,
      .item_add_box_content {
        margin-top: 15px;

        input[type="text"] {
          width: 90%;
        }
      }
    }

    .verify_career {
      .content_verify_career {
        margin: 0px 0px 0px 0px;
      }
    }
  }
}
