.withdrawalPage {
    padding-top: 35px;
    padding-bottom: 23px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    .accountInformation {
        box-shadow: 3px 5px 12px 0px rgba(0,0,0,0.1);
        padding: 2px 30px 51px 30px;
        position: relative;
        color: #5c5e6c;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            top: -5px;
            left: 0;
            background: linear-gradient(to right, #2af19e, #0ab1e8);
        }

        .title {
            font-size: 20px;
            margin-top: 22px;
        }

        .information {
            .titleInfo {
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                margin-top: 33px;

                &.customTitleInfo {
                    margin-top: 24px;
                }

                &:last-child {
                    margin-top: 24px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    background: linear-gradient(to left, #2af19e, #0ab1e8);
                    left: 0%;
                }
            }

            .withdrawalItem {
                position: relative;
                margin-bottom: 12px;
                max-width: 455px;
                margin-left: auto;
                margin-right: auto;

                &.customItem {
                   max-width: 360px;
                   margin-left: auto;
                   margin-right: auto;
                   padding: 0;

                    .form-control {
                        border: 1px solid #d0dbe7;
                        border-radius: 2px;
                        padding: 5px;
                        margin: auto;
                        height: 37px;
                        width: 100%;
                    }

                    .css-2b097c-container {
                        position: absolute;
                        top: 3px;
                        width: 68px;
                        height: 29px;
                        right: 4px;
                        .css-1pahdxg-control,
                        .css-yk16xz-control {
                          height: 29px;
                          min-height: 29px;
                          background: #60738a;
                        }
                        svg,
                        .css-1uccc91-singleValue {
                          color: #fff;
                        }
                        input,
                        .css-w8afj7-Input{
                            height: 24px;
                            color: #fff;
                            margin-top: 0;
                        }
                        .css-tlfecz-indicatorContainer,
                        .css-1gtu0rj-indicatorContainer {
                          padding: 0 5px !important;
                          padding-left: 0 !important;
                        }
                        .css-1okebmr-indicatorSeparator {
                          display: none;
                        }
                        .css-1g48xl4-IndicatorsContainer{
                            height: 28px;
                        }
                        .css-1hwfws3 {
                          padding: 0 4px;
                          height: 28px;
                        }
                      }

                    .codeOtp {
                        min-width: 100px;
                        background: linear-gradient(to right, #2af19e, #0ab1e8);
                        color: #fff;
                        text-align: center;
                        line-height: 25px;
                        border-radius: 3px;
                        position: absolute;
                        top: 3px;
                        right: 3px;
                        height: 30px;
                        padding: 0;
                    }
                }

                .nameItem {
                    padding-top: 22px;
                    margin-right: 122px;
                }

                .price {
                    padding-top: 22px;
                    font-size: 20px;
                    display: inline-block;
                    margin-top: -6px;
                }

                .withdrawalBank,
                .withdrawalPaypal {
                    display: block;
                    padding: 7px 10px 10px 10px;
                    border: 1px solid #d1dbe6;
                    box-shadow: 4px 4px 3px 0px #00024826;
                    margin-top: 4px;
                }

                .minMax {
                    overflow: hidden;
                    .min {
                        display: inline-block;
                    }
                    .max {
                       float: right;
                    }
                }
            }

            label {
                margin-left: 21px;
                font-weight: unset;
                display: inline-block;
            }
        }

        .save {
            background: linear-gradient(to right, #2af19e, #0ab1e8);
            color: #fff;
            min-width: 201px;
            box-shadow: 0px 0px 7px 1px #0002604d;
            border-radius: 24px;
            margin-top: 15px;
            margin-right: 16px;

            &:hover {
                background: linear-gradient(to right, #27c483, #0896c4);
            }
        }
        .css-2b097c-container {
            height: 35px;
            width: 357px;
            margin: auto;
            .css-1pahdxg-control,
            .css-yk16xz-control {
                min-height: 35px;
                border: 1px solid #d0dbe7;
                border-radius: 3px;
            }
            input,
            .css-w8afj7-Input{
                height: 35px;
                margin-top: 0;
            }
            .css-tlfecz-indicatorContainer,
            .css-1gtu0rj-indicatorContainer {
              padding: 0 5px !important;
              padding-left: 0 !important;
            }
            .css-1okebmr-indicatorSeparator {
              display: none;
            }
            .css-1g48xl4-IndicatorsContainer{
                height: 35px;
            }
            .css-1hwfws3 {
                padding: 0px 10px;
                height: 35px;
                overflow: unset;
            }
          }

        .form-control {
            border-color: #d0dbe7;
            border-radius: 2px;
            width: 359px;
            margin: auto;
            margin-bottom: -5px;
            margin-top: 18px;

            &::placeholder {
                color: #93a2cd;
                font-style: unset;
            }
        }
    }
}

.info-tab {
    .section-table {
        .module-table {
            .module-header {
                .title {
                    &.titleHistroy {
                        margin-left: 23px;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199.9px) {
    .withdrawalPage {
        .accountInformation {
            padding: 15px;
            min-height: 386px;

            .title {
                font-size: 18px;
                margin-top: 0;
            }

            .information {
                .titleInfo {
                    margin-top: 20px;
                }

                .withdrawalItem {
                    padding: unset;

                    &.customIitem {
                        width: 96%;
                    }

                    .withdrawalBank {
                        min-width: unset;
                        font-size: 13px;
                    }
                }

                .css-2b097c-container {
                    width: 90%;
                }

                label {
                    margin-left: unset;
                }
            }

            .form-control {
                width: 90%;
                margin-bottom: unset;
                margin-top: unset;

            }
        }
    }
}

@media (max-width: 991.9px) {
    .withdrawalPage {
        .accountInformation {
            min-height: 408px;
        }
    }
}

@media (max-width: 767.9px) {
    .withdrawalPage {
        padding-bottom: unset;

        .accountInformation {
            min-height: unset;
            margin-bottom: 30px;

            .information {
                .withdrawalItem {
                    .price {
                        font-size: 18px;
                        margin-top: unset;
                    }

                    .nameItem {
                        padding-top: 22px;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}