.boxChat {
    max-width: 1181px;
    margin: auto;
    padding: 0px 13px;
    position: relative;
    margin-right: 80px;

    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .search {
        background: #e8ecf7;
        width: 31.4%;
        display: flex;
        padding: 14px 23px 14px;
        position: absolute;
        top: 71px;
        left: 2%;
        z-index: 3;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .icon_search {
            border: 0;
            background: #fff;
            box-shadow: unset;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            padding-right: 0px;
            margin-right: -1px;
            height: 30px;

            img {
                margin-top: -4px;
                margin-left: -9px;
            }

        }

        .form-controll {
            border: none;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            height: 30px;
            &::placeholder {
                color: #7485ab;
                font-style: unset;
            }
        }
    }

    .tab-control {
        width: 32.7%;
        float: left;
        margin-top: 142px;
        padding-right: 15px;

        .control-list {
            height: 527px;
            overflow: auto;
            padding: 7px 10px;

            &::-webkit-scrollbar {
                display: none;
            }

            .control-list__item {
                background: #eef1fb !important;
                min-width: unset;
                width: 100%;
                margin-bottom: 14px;
                border-radius: 5px;
                padding: 5px 5px 0px 5px;

                &.active,
                &:hover {
                    background: #fff !important;
                    box-shadow: 0px 0px 9px 1px #00000033;

                    .table-list__link {
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }

                .table-list__link {
                    display: flex;

                    img {
                        width: 42px;
                        height: 42px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 12px;
                        margin-left: 9px;
                        margin-top: 4px;
                        background: #408fbe;
                        display: block;
                    }

                    .info {
                        text-align: left;
                        margin-top: 3px;
                        margin-bottom: 6px;

                        .name {
                            color: #435170;
                            display: block;
                            font-family: cabinBold;
                        }

                        .excerpts {
                            font-size: 14px;
                            color: #818daa;
                            margin-left: 15px;
                            display: inline-block;
                            font-weight: normal;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            margin-top: 4px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        width: 67.3%;
        float: right;
        padding-top: 71px;
        box-shadow: unset !important;

        &:after {
            height: auto;
        }
        &:before{
            display: none !important;
        }

        .message-content {
            background: #e8ecf7;
            padding-top: 0px;
            position: relative;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 24px;
                background-color: #e8ecf7;
                top: 0%;
                left: 0%;
            }

            .messageContainer {
                max-height: 447px;
                height: 447px;

                .itemMessage-2 {
                    padding-left: 30px;
                    .contentMessage {
                        .text-info {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}

.message-content {
    .messageContainer {
        min-height: 447px;
        padding: 28px 27px 17px 27px;
        overflow: auto;
        margin-bottom: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        .itemMessage-1 {
            display: flex;
            img {
                width: 42px;
                height: 42px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 12px;
                margin-top: 4px;
                background: #408fbe;
                display: block;
            }
            .contentMessage {
                margin-left: 11px;

                .name {
                    color: #7485ab;
                }

                .text-info {
                    color: #435170;
                    background: #fff;
                    padding: 7px 21px;
                    border-radius: 8px;
                    border-top-left-radius: 0px;
                    max-width: 566px;
                    margin-right: 30px;
                    display: table;
                }
            }
        }

        .itemMessage-2 {
            margin-top: 0px;
            .contentMessage {
                text-align: right;

                .name {
                    text-align: right;
                    display: inline-block;
                    margin-top: 6px;
                    color: #7485ab;
                }

                .text-info {
                    color: #435170;
                    background: #bfe1fa;
                    padding: 7px 21px;
                    border-radius: 8px;
                    border-top-right-radius: 0px;
                    max-width: 566px;
                    margin-top: 6px;
                    margin-left: auto;
                    display: table;
                }
            }
        }
    }

    .BoxMessage {
        background: #fff;
      margin: auto;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 10px;
        .textMessage {
            display: flex;
            .textarea {
                border: unset;
                padding: 19px 13px;
                box-shadow: unset;
                user-select: text;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                width: 84%;
                overflow-x: hidden;
                overflow-y: auto;
                min-height: 60px;
                height: 60px;

                &::placeholder {
                    color: #6d7ca0;
                }
            }

            .send {
                text-transform: uppercase;
                border: 0px;
                box-shadow: unset;
                min-width: 98px;
                color: #fff;
                background: linear-gradient(to right, #2af19e, #0ab1e8);
                height: 41px;
                font-size: 15px;
                margin-top: 10px;
                margin-right: 7px;
                &:hover{
                    background: linear-gradient(to left, #2af19e, #0ab1e8);
                }
            }
        }
    }
}

@media (max-width: 1319px) {
    .boxChat {
        max-width: unset;
        margin-right: unset;

        .message-content {
            .BoMessage {
                margin-left: -4px;
                max-width: 692px;
                margin: auto;
            }
        }
    }
}

@media (max-width: 1199.9px) {
    .boxChat {
        .message-content {
            .BoMessage {
                max-width: 600px;
            }
        }
    }
}

@media (max-width: 991.9px) {
    .boxChat {
        .message-content {
            .BoMessage {
                max-width: 450px;
            }
        }
    }
}

@media (max-width: 767.9px) {
    .boxChat {
        .search {
            width: 100%;
            border-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding: 14px 23px 14px;
            position: unset;
            top: unset;
            left: unset;
        }

        .tab-control {
            width: 100%;
            float: unset;
            margin-top: unset;
            padding-right: unset;

            .control-list {
                height: 133px;
                background: #e8ecf7;

                .control-list__item {
                    background: #bfe1fa !important;
                }
            }
        }

        .tab-content {
            padding-top: 23px;
            width: 100%;

            .message-content {
                border-radius: 15px;

                .BoMessage {
                    max-width: 392px;
                }

                .messageContainer {
                    .itemMessage-2 {
                        .contentMessage {
                            .text-info {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 479.9px) {
    .boxChat {
        .tab-content {
            .message-content {
                .BoMessage {
                    max-width: 249px;
                }

                .messageContainer {
                    padding: 10px;

                
                }
            }
        }
    }
}