.section-waiting {
  .icon_star_hove {
    width: 10px;
  }

  .section-pg {
    color: #617da0;
    box-shadow: inset 0px 0px 11px 9px #0eb9de2e;
    border-radius: 3px;
    padding: 15px 0px 4px 44px;
    background-color: #0eb9de12;

    &:after,
    &:before {
      content: "";
      display: table;
    }

    &:after {
      content: "";
      clear: both;
    }

    .title-pg {
      float: left;
      margin: 0px;
      margin-top: 11px;
      font-size: 21px;
    }

    .info-right {
      float: right;
      float: right;
      padding-right: 45px;

      &:after,
      &:before {
        content: "";
        display: table;
      }

      &:after {
        content: "";
        clear: both;
      }

      .info-day {
        float: left;
        padding-right: 89px;
      }

      .info-jof {
        float: right;
        padding-top: 10px;

        .work__featured {
          color: #fff;
          border-radius: 24px;
          background: linear-gradient(to left, #7444fd, #b325ff);
          padding: 5px 10px;
          min-width: 124px;
          display: inline-block;
          text-align: center;
        }

        .work__urgent {
          color: #fff;
          border-radius: 24px;
          background: linear-gradient(to left, #fe5d75, #ffa858);
          padding: 5px 10px;
          display: inline-block;
          min-width: 120px;
          text-align: center;
          margin-left: 9px;
        }
      }
    }
  }

  .section-outsourcer {
    .list-item {
      display: flex;
      padding-left: 5px;
      padding-top: 22px;

      .item {
        color: #0c548f;
        border-left: 1px solid #a8bbd1;
        padding-right: 31px;
        padding-left: 26px;

        &:nth-child(1) {
          padding-left: unset;
          border-left: unset;
          padding-right: 31px;
        }

        i {
          color: #ffd83a;
        }

        .styleSpan {
          font-weight: bold;
          font-size: 16px;
          margin-left: 5px;
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
  }

  .section-jobinformation {
    color: #686b87;
    padding: 0px;
    margin-bottom: 20px;
    .module-jobinformation {
      .item {
        color: #686b87;
        margin-bottom: 19px;
        &.item-description {
          padding-top: 8px;
        }
        .title__desc {
          font-size: 15px;
          margin-bottom: 1px;
        }
        .desc {
          border-radius: 4px;
          background-color: #ecf1fd;
          color: #6f7a9d;
          padding: 7px 26px;
          &.blue__desc {
            color: #137ce8;
          }
          &.desc__special {
            padding: 17px 35px;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }

  .message {
    box-shadow: 0px 0px 8px 6px #e8ecf787;
    padding: 5px 5px 17px 5px;
    max-height: 580px;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    .head {
      .title-message {
        color: #686b87;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
    .content {
      background: #fff;
      margin: 0 -7px;

      .messageContainer {
        min-height: auto;
        padding: 17px;
        overflow: auto;
        max-height: 439px;

        .itemMessage-1 {
          .contentMessage {
            .text-info {
              background-color: #ecf1fd;
            }
          }
        }

       
      }

      .BoxMessage {
        margin-left: unset;
        background-color: #ecf1fd;
        margin: 0px 19px;

        .textMessage {
          .textarea {
            background-color: #ecf1fd;
          }
        }
      }
    }
  }

  
}
.section-history {
    margin-top: 21px;

    .module-histroy {
      .module-header {
        .title {
          color: #0c548f;
          text-transform: uppercase;
          text-decoration: underline;
          font-size: 21px;
          margin-bottom: 14px;
        }
      }

      .module-content {
        background-color: #fff;
        overflow: unset;

        .histroy-table {
          .table {
            thead {
              background: url("./../../../../static/images/bg-histroy.gif")
                no-repeat;
                background-size: cover;
                background-position: top center;

              tr {
                th {
                    padding: 20px 10px;
                    text-align: center;
                    color: #fff;
                    border-right: 1px solid transparent;
                    font-weight: normal;
                    font-size: 16px;
                  
                  &:first-child{
                      border-top-left-radius: 5px;
                  }
                  &:last-child{
                    border-top-right-radius: 5px;
                }
                }
              }
            }

            tbody {
              tr {
                td {
                    color: #687297;
                    padding: 11px 10px;
                    text-align: center;
                    vertical-align: inherit;
                    border: 1px solid #dbe3ec;
                    line-height: 22px;

                  &.text-message {
                    text-align: justify;
                    white-space: normal;
                    min-width: 235px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

@media (max-width: 1199px) {
  .section-waiting {
    .section-jobinformation {
      .module-jobinformation {
        .item {
          .desc {
            padding: 7px 15px;
            &.desc__special {
              padding: 7px 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .section-waiting {
    .section-outsourcer {
        margin: 0 -10px;
      .list-item {
          .item{
            padding-left: 0;
            padding-right: 10px !important;
            padding-left: 10px !important;
          }
      }
    }
  }
}
@media (max-width: 767px) {
}

@media (max-width: 479px) {
    .section-waiting {
        .section-outsourcer {
            margin: 0 -10px;
          .list-item {
            flex-wrap: wrap;
          }
        }
      }
}
