.info-tab {
  .section-table {
    .module-table {
      .module-header {
        .table-tools {
          .table-search {
            min-width: 450px;
            padding-right: 150px;
            .css-2b097c-container {
              width: 100%;
              height: 34px;
              .css-1pahdxg-control,
              .css-yk16xz-control {
                height: 34px;
                min-height: 34px;

                &:hover {
                  height: 34px;
                }

                .css-1hwfws3 {
                  height: 34px;
                  padding: 0px 8px;
                  overflow: unset;
                }
                .css-w8afj7-Input,
                input {
                  height: 20px;
                  margin: 0;
                }

                .css-1uccc91-singleValue {
                  top: 43%;
                }

                svg {
                  width: 15px;
                }

                .css-1okebmr-indicatorSeparator {
                  display: none;
                }
                .css-tlfecz-indicatorContainer,
                .css-1gtu0rj-indicatorContainer {
                  padding: 0 5px !important;
                  padding-left: 0 !important;
                }
                .css-1okebmr-indicatorSeparator {
                  display: none;
                }
                .css-1hwfws3 {
                  padding: 0 4px;
                }
              }
            }
            .table__btn {
              position: absolute;
              top: 0;
              right: 0;
              &.gradient__btn {
                background: linear-gradient(to bottom, #2af19e, #0ab1e8);
                min-width: 141px;
                margin-bottom: -4px;

                &:hover {
                  background: linear-gradient(to bottom, #1bb072, #087da3);
                }
              }
            }
          }
        }
      }

      .module-content {
        .table-content {
          table tbody tr td {
            .table__btn {
              &.purple__btn {
                background-color: #a000dc;
              }
            }
          }
        }
      }
    }
  }
}

.slide-info {
  padding-top: 45px;

  .slick-slider {
    min-height: 144px;
  }

  .slick-list {
    padding: 10px 0px;
    margin: 0 -5px;
  }

  .slick-slide {
    padding: 5px;

    .item {
      padding-right: 5px;
      padding-left: 5px;
      cursor: pointer;

      .item_layout {
        box-shadow: 0px 0px 9px 3px #4b6c8b3b;
        background: #fff;
        border-radius: 3px;
        position: relative;
        padding: 5px;
        min-height: 110px;
        transition: 0.2s all;
        &.project {
          border-top: 6px solid #2af19e;

          .title {
            padding: 17px 12px 5px;
          }

          .span-info {
            font-size: 26px;
            margin-right: 24px;
            margin-top: 13px;
          }
        }

        &.money-received {
          border-top: 6px solid #feef00;

          .title {
            padding: 16px 14px 0px;
          }

          .icon_infoslide,
          .icon_infoslide_hover {
            margin-left: 21px;
            margin-top: 9px;
            padding-top: 0px;
          }

          .span-info {
            font-size: 17px;
            margin-right: 6px;
            margin-top: 29px;
          }
        }

        &.rewards {
          border-top: 6px solid #0ab1e8;

          .title {
            padding: 16px 14px 0px;
          }

          .icon_infoslide,
          .icon_infoslide_hover {
            margin-left: 21px;
            margin-top: 9px;
            padding-top: 0px;
          }

          .span-info {
            font-size: 26px;
            margin-right: 5px;
            margin-top: 19px;
          }
        }

        &.action-point {
          border-top: 6px solid #9c5cfe;

          .title {
            padding: 16px 14px 0px;
          }

          .icon_infoslide,
          .icon_infoslide_hover {
            margin-left: 21px;
            margin-top: 9px;
            padding-top: 0px;
          }

          .span-info {
            font-size: 26px;
            margin-right: 0px;
            margin-top: 21px;
          }
        }

        &.reviews {
          border-top: 6px solid #fe5d75;

          .title {
            padding: 16px 14px 0px;
          }

          .info-layout {
            text-align: center;
            margin-left: 26px;
            padding-bottom: 14px;
            margin-top: 19px;

            i {
              color: #ffd83a;
            }
          }
        }

        &:hover {
          margin-top: -9px;

          .info-layout {
            .icon_infoslide_hover {
              display: block;
            }

            .icon_infoslide {
              display: none;
            }
          }
        }

        .title {
          color: #3e4b64;
          text-transform: uppercase;
          margin: auto;
          font-size: 14px;
        }

        .info-layout {
          &:after,
          &:before {
            content: "";
            display: table;
          }

          &:after {
            content: "";
            clear: both;
          }

          .icon_infoslide_hover,
          .icon_infoslide {
            float: left;
          }

          .icon_infoslide_hover {
            display: none;
          }

          .span-info {
            float: right;
            font-family: cabinBold;
            color: #3e4b64;
          }
        }
      }
    }
  }
  .slick-next,
  .slick-prev {
    &:before {
      background: #11926f;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1250.9px) {
  .slide-info {
    .slick-slide {
      &:nth-child(2) {
        .item {
          .item_layout {
            .icon_infoslide {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .slide-info {
    .bs-container {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .info-tab {
    .result-info {
      padding: 0px 14px;
    }
  }
}

@media (max-width: 479px) {
  .info-tab {
    .section-table {
      &.deal-receiveJob{
        .module-table{
          .module-header{
            .table-tools{
              float: none;
            }
          }
        }
      }
      .module-table {
        .module-header {
          .table-tools {
            .table-search {
              min-width: unset;
              width: 100%;
              padding-right: 0;
            .css-2b097c-container {
              margin-bottom: 20px;
            }
               .table__btn{ &.gradient__btn{
                 position: relative;
               }}
            }
          }
        }
      }
    }
    .result-info {
      .desc {
        max-width: 100%;
        margin-left: unset;
      }
    }
  }
}
