.info-tab {
  padding-left: 60px;
  padding-right: 60px;

  .result-info {
    margin-top: 2px;
    padding: 0 15px;
    &:after,
    &:before {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    .desc {
      border: 1px solid #408fbe;
      color: #09528b;
      margin-right: 18px;
      display: inline-block;
      min-width: 202px;
      line-height: 38px;
      border-radius: 2px;
      padding: 0 13px;
      &:last-child {
        margin-right: 0;
      }
    }
    .create__btn {
      height: 40px;
      min-width: 198px;
      border-radius: 40px;
      float: right;
      padding-left: 69px;
      text-align: left;
      position: relative;
      background: #0ad599;
      font-size: 14px;
      color: #fff;
      box-shadow: 0 4px 10px rgba(0, 53, 88, 0.3);
      i {
        background: #fff;
        height: 36px;
        line-height: 36px;
        width: 38px;
        text-align: center;
        border-radius: 50%;
        color: #0ad599;
        top: 2px;
        left: 2px;
        position: absolute;
      }
      &:hover {
        background: #09b381;
      }
    }
  }
  .section-table {
    padding-top: 39px;
    padding-bottom: 20px;

    .module-table {
      padding: 0 15px;
      .module-header {
        margin-bottom: 14px;
        position: relative;
        .title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px;
          display: inline-block;
          margin-left: -15px;
          color: #47729d;
          position: relative;
          &:after {
            content: "";
            width: 18px;
            height: 10px;
            display: block;
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate(-6px, -50%);
            background: linear-gradient(to left, #0db5e4, #27eca4);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        .note {
          color: #e00808;
          font-size: 12px;
          display: table;
        }
        .table-tools {
          position: absolute;
          bottom: 0;
          right: 0;
          .table__btn {
            min-width: 96px;
            border-radius: 20px;
            color: #fff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
            margin-left: 10px;
            white-space: nowrap;
            display: inline-block;
            padding: 7px 20px;
            text-align: center;
            &:first-child {
              margin-left: 0;
            }
            &.red__btn {
              background: #dc0a0a;
              &:hover {
                background: #af0404;
              }
            }
            &.orange__btn {
              background: #d55b0a;
              &:hover {
                background: #b54b05;
              }
            }
            &.gray__btn {
              background: #4b6c8b;
              &:hover {
                background: #38546f;
              }
            }
            &.blue__btn {
              background: #0a86d5;
              &:hover {
                background: #075f97;
              }
            }
            &.green__btn {
              background: #0ad599;
              &:hover {
                background: #05aa79;
              }
            }
          }
        }
      }
      .module-content {
        .table-content {
          overflow: auto;
          box-shadow: 5px 5px 35px rgba(0, 53, 88, 0.2);
          table {
            width: 100%;
            thead {
              th {
                background: #4b6c8b;
                border: 1px solid #4b6c8b;
                color: #fff;
                white-space: nowrap;
                padding: 19px 10px;
                font-weight: normal;
                text-align: center;
              }
            }
            tbody {
              tr {
                td {
                  border: 1px solid #c7deec;
                  font-size: 13px;
                  color: #4b6c8b;
                  padding: 5px 10px;
                  min-width: 60px;
                  text-align: center;
                  &.nowrap {
                    white-space: nowrap;
                  }
                  &.message {
                    max-width: 400px;
                    text-align: left;
                    min-width: 228px;
                  }
                  .checkbox {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #a8bbd1;
                    cursor: pointer;
                    &.active {
                      &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: linear-gradient(#0db5e4, #27eca4);
                        width: 10px;
                        height: 10px;
                      }
                    }
                  }
                  .table__btn {
                    line-height: 21px;
                    font-size: 12px;
                    border-radius: 2px;
                    padding: 0 13px;
                    color: #fff;
                    margin: 2px;
                    min-width: 70px;
                    white-space: nowrap;
                    &.green__btn {
                      background: #0ad599;
                    }
                    &.orange__btn {
                      background: #e58803;
                    }
                    &.blue__btn {
                      background: #008ffd;
                    }
                    &.red__btn {
                      background: #dc0a0a;
                    }
                    &.pink__btn {
                      background: #fd00a1;
                    }
                    &.gray__btn {
                      background: #4b6c8b;
                    }
                    &.brown__btn {
                      background: #c25a5b;
                    }
                    &.darkBlue__btn {
                      background: #025184;
                    }
                    &.darkGreen__btn {
                      background: #1c6c1e;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .info-tab {
    padding-left: 30px;
    padding-right: 30px;
    .result-info {
      padding-left: 15px;
      padding-right: 15px;
    }
    .section-table {
      .module-table {
        .module-header {
          .title {
            margin-left: 25px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  
}
@media only screen and (max-width: 991px) {
  .info-tab {
    .result-info {
     
      .create__btn {
        min-width: 144px;
        padding-left: 48px;
      }
    }
    .section-table {
      .module-table {
        padding: 0 0px;
        .module-header {
          &:after,
          &:before {
            content: "";
            display: table;
          }
          &:after {
            clear: both;
          }
          .table-tools {
            position: relative;
            margin-left: auto;
            float: right;
          }
        }
      }
    }
  }
  
}
@media only screen and (max-width: 767px) {
  .info-tab {
    padding-left: 20px;
    padding-right: 20px;
    .section-table {
      .module-table {
        .module-header {
          .table-tools {
            >.table__btn {
              margin-bottom: 5px;
              padding: 2px 10px;
            }
            
          }
        }
      }
    }
  }
 
}

@media only screen and (max-width: 479px) {
  .info-tab {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    .result-info {
      .desc {
        width: 100%;
        margin-right: 0;
      }
    }
    .section-table {
      .module-table {
 .module-header {.table-tools {.table__btn{
  padding: 2px 10px;
 }}}
        .module-content {
          .table-content {
            padding-bottom: 0;
          }
        }
      }
    }
  }

}
