

.wave-svg-box {
    width: 100%;
    z-index: 1;
}

.wave-svg-box .wave {
    animation: wave 9s linear;
    animation-iteration-count: infinite;
}

.wave-svg-box #wave2 {
    animation-duration: 6s;
    animation-direction: reverse;
    opacity: .6
}

.wave-svg-box #wave3 {
    animation-duration: 8s;
    opacity: .3
}

.wave-svg-box .gooeff {
    filter: url(#goo);
}

.wave-svg-box .gooeff .drop {
    fill: #fff;
    xfill: #99000055;
    animation: drop 8.3s linear infinite normal;
    stroke: var(#fff);
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%
}

.wave-svg-box .gooeff .drop2 {
    animation-delay: 3s;
    animation-duration: 5s
}

.wave-svg-box .gooeff .drop3 {
    animation-delay: -3s;
    animation-duration: 4.4s
}

.wave-svg-box .gooeff .drop4 {
    animation-delay: 2.7s
}

.wave-svg-box .gooeff .drop5 {
    animation-delay: 3.7s;
    animation-duration: 4.1s
}

.wave-svg-box .gooeff .drop6 {
    animation-delay: -2.1s;
    animation-duration: 5.2s
}

@keyframes drop {
    0% {
        transform: translateY(25px)
    }

    30% {
        transform: translateY(-10px) scale(0.1)
    }

    30.001% {
        transform: translateY(25px) scale(1)
    }

    70% {
        transform: translateY(25px)
    }

    100% {
        transform: translateY(-10px) scale(0.1)
    }
}

@keyframes wave {
    to {
        transform: translateX(-100%)
    }
}